<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <meta name="theme-color" content="#233659"/>
    <title>Clickatell | Connecting you to customers with SMS and chat</title>
    <!-- required -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet">
    <!-- font-family: 'Open Sans', sans-serif; -->
    <link rel="stylesheet" href="https://use.typekit.net/jig6vex.css">
    <link href="../../assets/images/favicon.ico" rel="icon">
    <link href="../../assets/css/style.css" rel="stylesheet">
    <!-- required -->

</head>
<body>
    <div class="preloader">
        <div class="preloader-section preloader-right"></div>
        <div class="preloader-section preloader-left"></div>
        <div class="preloader-icon">
            <!-- <span class="loading-dot loading-dot-1"></span>
            <span class="loading-dot loading-dot-2"></span>
            <span class="loading-dot loading-dot-3"></span> -->
            <img src="../../assets/images/loader.svg" alt="Loader"/>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-light oxford-blue-bg">
            <div class="container">
                <a class="navbar-brand py-3" href="../../index.html">
                    <img src="../../assets/images/Clickatell-Logo-white-text.svg" alt="Clickatell"> 
                </a>
            </div>
        </nav>
    </header>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="title eerie-black-text f-bold text-uppercase"><h6>Foundations</h6></div>
                    <div class="ct-toc-item mb-4">
                        <ul class="ct-sidenav">
                            <li class="active"><a href="color.html" target="_blank">Color</a></li>
                            <li><a href="" target="_blank">Data Visualisation</a></li>
                            <li><a href="" target="_blank">Grid System </a></li>
                            <li><a href="typography.html" target="_blank">Typography</a></li>
                        </ul>
                    </div>
                    <div class="title eerie-black-text f-bold text-uppercase"><h6>Components</h6></div>
                    <div class="ct-toc-item">
                        <ul class="ct-sidenav">
                            <li><a href="" target="_blank">Buttons</a></li>
                            <li><a href="form-elements.html" target="_blank">Form Elements</a></li>
                            <li><a href="" target="_blank">Lists</a></li>
                            <li><a href="" target="_blank">Navigation</a></li>
                            <li><a href="" target="_blank">Iconography</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="main-title eerie-black-text mb-4"><h1>Brand</h1></div>
                    <div class="title eerie-black-text f-medium"><h5>Primary</h5></div>
                    <div class="row mb-5">
                        <div class="col-md-4">
                            <div class="oxford-blue-bg p-3">
                                <p class="text-white f-medium mb-0">Oxford Blue</p>
                                <p class="text-white f-14 mb-0">#233659</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="clickatell-blue-bg p-3">
                                <p class="text-white f-medium mb-0">Clickatell Blue</p>
                                <p class="text-white f-14 mb-0">#2CC4EC</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="clickatell-green-bg p-3">
                                <p class="text-white f-medium mb-0">Clickatell Green</p>
                                <p class="text-white f-14 mb-0">#8CC63F</p>
                            </div>
                        </div>
                    </div>
                    <div class="title eerie-black-text f-medium"><h5>Secondary</h5></div>
                    <div class="row mb-5">
                        <div class="col-md-4">
                            <div class="iron-dark-bg p-3">
                                <p class="text-white f-medium mb-0">Iron</p>
                                <p class="text-white f-14 mb-0">#313538</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fossil-bg p-3">
                                <p class="text-white f-medium mb-0">Fossil</p>
                                <p class="text-white f-14 mb-0">#828281</p>
                            </div>
                        </div>
                    </div>
                    <div class="title eerie-black-text f-medium"><h5>Background</h5></div>
                    <div class="row mb-5">
                        <div class="col-md-4">
                            <div class="iron-light-bg p-3">
                                <p class="f-medium eerie-black-text mb-0">Iron</p>
                                <p class="f-14 eerie-black-text mb-0">#F7F7F7</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="metal-bg p-3">
                                <p class="f-medium eerie-black-text mb-0">Metal</p>
                                <p class="f-14 eerie-black-text mb-0">#E3E3E3</p>
                            </div>
                        </div>
                    </div>
                    <div class="title eerie-black-text f-medium"><h5>Tertiary</h5></div>
                    <div class="row mb-5">
                        <div class="col-md-4">
                            <div class="tiger-bg p-3">
                                <p class="text-white f-medium mb-0">Iron</p>
                                <p class="text-white f-14 mb-0">#FF5801</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="honey-bg p-3">
                                <p class="text-white f-medium mb-0">Metal</p>
                                <p class="text-white f-14 mb-0">#F8BD32</p>
                            </div>
                        </div>
                    </div>
                    <div class="title eerie-black-text f-medium"><h5>Gradient</h5></div>
                    <div class="row mb-5">
                        <div class="col-md-4">
                            <div class="caribbean-tropics-bg p-3">
                                <p class="text-white f-medium mb-0">Caribbean tropics</p>
                                <p class="text-white f-14 mb-0">#2CC4EC - #8CC63F</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="after-the-storm-bg p-3">
                                <p class="text-white f-medium mb-0">After the storm</p>
                                <p class="text-white f-14 mb-0">#233659 - #2CC4EC</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="magrove-bg p-3">
                                <p class="text-white f-medium mb-0">Magrove</p>
                                <p class="text-white f-14 mb-0">#233659 - #8CC63F</p>
                            </div>
                        </div>
                    </div>
                    <div class="title eerie-black-text f-medium"><h5>Text</h5></div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="eerie-black-bg p-3">
                                <p class="text-white f-medium mb-0">Eerie Black</p>
                                <p class="text-white f-14 mb-0">#17191D</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="dark-grey-bg p-3">
                                <p class="text-white f-medium mb-0">Dark Grey</p>
                                <p class="text-white f-14 mb-0">#4A4E57</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gainsboro-bg p-3">
                                <p class="dark-grey-text f-medium mb-0">Gainsboro</p>
                                <p class="dark-grey-text f-14 mb-0">#D4D9E2</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../assets/js/popper.min.js"></script>
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/modernizr.min.js"></script>
    <script src="../../assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/js/main.js"></script>
</body>
</html>