<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="theme-color" content="#233659" />
    <title>Clickatell | Connecting you to customers with SMS and chat</title>
    <!-- required -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet">
    <!-- font-family: 'Open Sans', sans-serif; -->
    <link rel="stylesheet" href="https://use.typekit.net/jig6vex.css">
    <link href="../../assets/images/favicon.ico" rel="icon">
    <link href="../../assets/vendor/bootstrap-select/css/bootstrap-select.css" rel="stylesheet">
    <link href="../../assets/css/style.css" rel="stylesheet">
    <!-- required -->

</head>

<body>
    <div class="preloader">
        <div class="preloader-section preloader-right"></div>
        <div class="preloader-section preloader-left"></div>
        <div class="preloader-icon">
            <!-- <span class="loading-dot loading-dot-1"></span>
            <span class="loading-dot loading-dot-2"></span>
            <span class="loading-dot loading-dot-3"></span> -->
            <img src="../../assets/images/loader.svg" alt="Loader" />
        </div>
    </div>
    <header>
        <nav class="navbar navbar-light oxford-blue-bg">
            <div class="container">
                <a class="navbar-brand py-3" href="../../index.html">
                    <img src="../../assets/images/Clickatell-Logo-white-text.svg" alt="Clickatell">
                </a>
            </div>
        </nav>
    </header>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="title eerie-black-text f-bold text-uppercase">
                        <h6>Foundations</h6>
                    </div>
                    <div class="ct-toc-item mb-4">
                        <ul class="ct-sidenav">
                            <li><a href="color.html" target="_blank">Color</a></li>
                            <li><a href="" target="_blank">Data Visualisation</a></li>
                            <li><a href="" target="_blank">Grid System </a></li>
                            <li><a href="typography.html" target="_blank">Typography</a></li>
                        </ul>
                    </div>
                    <div class="title eerie-black-text f-bold text-uppercase">
                        <h6>Components</h6>
                    </div>
                    <div class="ct-toc-item">
                        <ul class="ct-sidenav">
                            <li><a href="" target="_blank">Buttons</a></li>
                            <li class="active"><a href="form-elements.html" target="_blank">Form Elements</a></li>
                            <li><a href="" target="_blank">Lists</a></li>
                            <li><a href="" target="_blank">Navigation</a></li>
                            <li><a href="" target="_blank">Iconography</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="main-title eerie-black-text mb-4">
                        <h1>Form Elements</h1>
                    </div>

                    <div class="row mb-5">
                        <div class="col-md-5">
                            <div class="title eerie-black-text f-medium">
                                <h5>Input Fields</h5>
                            </div>
                            <form>
                                <div class="form-group">
                                    <div class="d-flex">
                                        <label class="form-label" for="exampleInputName1">First name</label><span class="form-req-text ml-auto">Required</span>
                                    </div>
                                    <input type="text" class="form-control" id="exampleInputName1" aria-describedby="emailHelp" placeholder="First name">
                                </div>
                                <div class="form-group">
                                    <div class="d-flex">
                                        <label class="form-label" for="exampleInputLastName1">Last name</label><span class="form-req-text ml-auto">Required</span>
                                    </div>
                                    <input type="text" class="form-control" id="exampleInputLastName1" aria-describedby="emailHelp" placeholder="Last name">
                                </div>
                                <div class="form-group">
                                    <div class="d-flex">
                                        <label class="form-label" for="exampleInputCompanyName1">Company name</label><span class="form-req-text ml-auto">Required</span>
                                    </div>
                                    <input type="text" class="form-control" id="exampleInputCompanyName1" aria-describedby="emailHelp" placeholder="Company name">
                                </div>
                                <div class="form-group">
                                    <div class="d-flex">
                                        <label class="form-label" for="exampleInputEmail1">Email address</label><span class="form-req-text ml-auto">Required</span>
                                    </div>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-5 ml-md-auto">
                            <div class="title eerie-black-text f-medium">
                                <h5>Dropdown</h5>
                            </div>
                            <form>
                                <div class="form-group">
                                    <div class="d-flex">
                                        <label class="form-label" for="exampleInputIndustry1">Dropdown</label><span class="form-req-text ml-auto">Required</span>
                                    </div>
                                    <select class="selectpicker form-control" title="Please Select">
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" rows="8" cols="1"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-5">
                            <div class="title eerie-black-text f-medium">
                                <h5>Filtered search</h5>
                            </div>
                            <div class="form-group">
                                <div class="d-flex">
                                    <label class="form-label" for="InputSearch">Search</label>
                                </div>
                                <div class="input-wrap">
                                    <i><img src="../../assets/images/icons/streamline-icon-search-alternate@24x24.svg" alt="Search Icon"></i>
                                    <input type="text" class="form-control" id="InputSearch" aria-describedby="emailHelp" placeholder="Search all press releases">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 ml-md-auto">
                            <div class="title eerie-black-text f-medium">
                                <h5>Checkbox Option 1</h5>
                            </div>
                            <div class="form-group">
                                <div class="custom_checkbox">
                                    <input type="checkbox" id="checkbox1" name="" value="" checked="">
                                    <label for="checkbox1">Action Text</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom_checkbox">
                                    <input type="checkbox" id="checkbox2" name="" value="">
                                    <label for="checkbox2">Action Text</label>
                                </div>
                            </div>
                            <div class="title eerie-black-text f-medium">
                                <h5>Checkbox Option 2</h5>
                            </div>
                            <div class="form-group">
                                <div class="ct-checkbox">
                                    <input type="checkbox" id="checkbox3" name="" value="">
                                    <label for="checkbox3" class="form-check-label">
                                    <i></i>
                                    <span>Random shortcode</span>
                                </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="ct-checkbox">
                                    <input type="checkbox" id="checkbox4" name="" value="">
                                    <label for="checkbox4" class="form-check-label">
                                    <i></i>
                                    <span>Random shortcode</span>
                                </label>
                                </div>
                            </div>
                            <div class="title eerie-black-text f-medium">
                                <h5>Radio button</h5>
                            </div>
                            <div class="form-group">
                                <div class="radio-btn">
                                    <input class="form-radio-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked="">
                                    <label class="form-radio-label" for="gridRadios1">
                                        <i></i>
                                        <span>Action Text</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="radio-btn">
                                    <input class="form-radio-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                    <label class="form-radio-label" for="gridRadios2">
                                        <i></i>
                                        <span>Action Text</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../assets/js/popper.min.js"></script>
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/modernizr.min.js"></script>
    <script src="../../assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/vendor/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="../../assets/js/main.js"></script>
    <script>
        $('.selectpicker').selectpicker();
    </script>
</body>

</html>