<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="theme-color" content="#233659"/>
    <title>Clickatell | Connecting you to customers with SMS and chat</title>
    <!-- required -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet">
    <!-- font-family: 'Open Sans', sans-serif; -->
    <link rel="stylesheet" href="https://use.typekit.net/jig6vex.css">
    <link href="../../assets/images/favicon.ico" rel="icon">
    <link href="../../assets/css/style.css" rel="stylesheet">
    <!-- required -->

</head>
<body>
    <div class="preloader">
        <div class="preloader-section preloader-right"></div>
        <div class="preloader-section preloader-left"></div>
        <div class="preloader-icon">
            <!-- <span class="loading-dot loading-dot-1"></span>
            <span class="loading-dot loading-dot-2"></span>
            <span class="loading-dot loading-dot-3"></span> -->
            <img src="../../assets/images/loader.svg" alt="Loader"/>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-light oxford-blue-bg">
            <div class="container">
                <a class="navbar-brand py-3" href="../../index.html">
                    <img src="../../assets/images/Clickatell-Logo-white-text.svg" alt="Clickatell"> 
                </a>
            </div>
        </nav>
    </header>
    
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="title eerie-black-text f-bold text-uppercase"><h6>Foundations</h6></div>
                    <div class="ct-toc-item mb-4">
                        <ul class="ct-sidenav">
                            <li><a href="color.html" target="_blank">Color</a></li>
                            <li><a href="" target="_blank">Data Visualisation</a></li>
                            <li><a href="" target="_blank">Grid System </a></li>
                            <li class="active"><a href="typography.html" target="_blank">Typography</a></li>
                        </ul>
                    </div>
                    <div class="title eerie-black-text f-bold text-uppercase"><h6>Components</h6></div>
                    <div class="ct-toc-item">
                        <ul class="ct-sidenav">
                            <li><a href="" target="_blank">Buttons</a></li>
                            <li><a href="form-elements.html" target="_blank">Form Elements</a></li>
                            <li><a href="" target="_blank">Lists</a></li>
                            <li><a href="" target="_blank">Navigation</a></li>
                            <li><a href="" target="_blank">Iconography</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="main-title eerie-black-text mb-4"><h1>Typography</h1></div>
                    <div class="title eerie-black-text f-medium">
                        <h4>Typescale</h4>
                    </div>
                    <div class="title-desc mb-5">
                        <div class="body grey-300">
                            <p>We follow a 6px baseline grid for achieving a vertical rhythm on all block-level elements in the app.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-12 align-self-center">
                            <div class="main-title display-1 eerie-black-text mb-4 mb-lg-0"><h1>Display </h1></div>
                        </div>
                        <div class="col-lg-4 col-md-6 align-self-center">
                            <div class="body dark-grey-text"><p>44px / 48px</p></div>
                        </div>
                        <div class="col-lg-4 col-md-6 align-self-center">
                            <div class="body dark-grey-text"><p>Neue Haas Grotesk - Bold </p></div>
                        </div>
                    </div>
                    <hr class="hr-colr">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 align-self-center">
                            <div class="main-title eerie-black-text mb-4 mb-lg-0"><h1>Heading 1 </h1></div>
                        </div>
                        <div class="col-lg-4 col-md-6 align-self-center">
                            <div class="body dark-grey-text"><p>36px / 45px</p></div>
                        </div>
                        <div class="col-lg-4 col-md-6 align-self-center">
                            <div class="body dark-grey-text"><p>Neue Haas Grotesk - Bold </p></div>
                        </div>
                    </div>
                    <hr class="hr-colr">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 align-self-center">
                            <div class="title grey-300 mb-4 mb-lg-0"><h2>Heading h2 </h2></div>
                        </div>
                        <div class="col-lg-4 col-md-6 align-self-center">
                            <div class="body dark-grey-text mb-4 mb-md-0"><p>28px / 35px</p></div>
                        </div>
                        <div class="col-lg-4 col-md-6 align-self-center">
                            <div class="body dark-grey-text mb-4 mb-md-0"><p>Neue Haas Grotesk - Medium</p></div>
                        </div>
                    </div>
                    <hr class="hr-colr">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 align-self-center">
                            <div class="title grey-300 mb-4 mb-lg-0"><h3>Heading h3 </h3></div>
                        </div>
                        <div class="col-lg-4 col-md-6 align-self-center">
                            <div class="body dark-grey-text mb-4 mb-md-0"><p>20px / 35px</p></div>
                        </div>
                        <div class="col-lg-4 col-md-6 align-self-center">
                            <div class="body dark-grey-text mb-4 mb-md-0"><p>Neue Haas Grotesk - Medium</p></div>
                        </div>
                    </div>
                    <hr class="hr-colr">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 align-self-center">
                            <div class="quote grey-300 mb-4 mb-lg-0"><p>Quote </p></div>
                        </div>
                        <div class="col-lg-4 col-md-6 align-self-center">
                            <div class="grey-300 mb-4 mb-md-0"><p>28px / 35px</p></div>
                        </div>
                        <div class="col-lg-4 col-md-6 align-self-center">
                            <div class="grey-300 mb-4 mb-md-0"><p>Neue Haas Grotesk - Roman</p></div>
                        </div>
                    </div>
                    <hr class="hr-colr">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 align-self-center">
                            <div class="body2 grey-300 mb-4 mb-lg-0"><p>Body 2 </p></div>
                        </div>
                        <div class="col-lg-4 col-md-6 align-self-center">
                            <div class="body2 grey-300 mb-4 mb-md-0"><p>20px / 35px</p></div>
                        </div>
                        <div class="col-lg-4 col-md-6 align-self-center">
                            <div class="body2 grey-300"><p>Open Sans - Regular</p></div>
                        </div>
                    </div>
                    <hr class="hr-colr">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 align-self-center">
                            <div class="body grey-300 mb-4 mb-lg-0"><p>Body  </p></div>
                        </div>
                        <div class="col-lg-4 col-md-6 align-self-center">
                            <div class="body grey-300 mb-4 mb-md-0"><p>16px / 25px</p></div>
                        </div>
                        <div class="col-lg-4 col-md-6 align-self-center">
                            <div class="body grey-300"><p>Open Sans - Regular</p></div>
                        </div>
                    </div>
                    <hr class="hr-colr">
                    <div class="row mb-5">
                        <div class="col-lg-4 col-md-12 align-self-center">
                            <div class="content-text grey-300 mb-4 mb-lg-0"><p>Button & Meta</p></div>
                        </div>
                        <div class="col-lg-4 col-md-6 align-self-center">
                            <div class="content-text grey-300 mb-4 mb-md-0"><p>14px / 24px</p></div>
                        </div>
                        <div class="col-lg-4 col-md-6 align-self-center">
                            <div class="content-text grey-300"><p>Neue Haas Grotesk - Medium</p></div>
                        </div>
                    </div>
                    <div class="main-title display-1 eerie-black-text pt-5 mb-4">
                        <h1>Prow scuttle parrel provost Sail ho shrouds spirits </h1>
                    </div>
                    <div class="main-title-desc mb-5">
                        <div class="body2 dark-grey-text">
                            <p>Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast
                            yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin
                            grog yardarm hempen halter furl. Swab barque interloper chantey 
                            doubloon starboard grog black jack gangway rutters.</p>
                        </div>
                    </div>
                    <div class="title eerie-black-text f-medium pt-5 mb-4">
                        <h1>Chat economy</h1>
                    </div>
                    <div class="title-desc mb-5">
                        <div class="body dark-grey-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
                               commodo consequat. Duis aute irure dolor in reprehenderit in 
                               voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur 
                               sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.</p>
                        </div>
                    </div>
                    <div class="title eerie-black-text f-medium pt-5 mb-4">
                        <h4>Paragraph</h4>
                    </div>
                    <div class="title-desc">
                        <div class="body dark-grey-text">
                            <p>The default body text is 16px. For optimum reading length, the paragraph width is
                                capped at 650px.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../assets/js/popper.min.js"></script>
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/modernizr.min.js"></script>
    <script src="../../assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/js/main.js"></script>
</body>
</html>