.banner-wrap { background-repeat: no-repeat; background-position: center center; background-size: cover; height: 100%; min-height: 580px; margin-bottom: 60px; }

.single-post-wrap { margin-bottom: 60px; }

.single-post-box.single-post-box-title h1 { font-weight: 700; font-size: 44px; line-height: 48px; color: #17191D; margin-bottom: 0rem; }

.single-post-box.single-post-box-title h6 { margin-bottom: 0.8rem; }

.single-post-box.single-post-box-title p { font-family: "Open Sans", sans-serif; font-weight: normal; font-style: normal; font-size: 20px; line-height: 28px; color: #606060; letter-spacing: 1px; }

.single-post-box .post-author-img { margin-right: 1rem; }

.single-post-box .post-author-img img { margin-top: 0rem; margin-bottom: 0rem; }

.single-post-box .post-author h6 { margin-bottom: 0rem; }

.single-post-box .post-clock { display: flex !important; }

.single-post-box .post-clock img { margin: 0rem; }

.article-box-up { margin-top: -160px; position: relative; }

.post-author h6 { margin-bottom: 0; }

.single-post-content h1 { font-size: 36px; line-height: 45px; font-weight: 700; font-style: normal; color: #17191D; margin-bottom: 1.5rem; }

.single-post-content h2 { font-size: 28px; line-height: 35px; font-weight: 500; font-style: normal; color: #17191D; margin-bottom: 1.5rem; }

.single-post-content h3 { font-size: 24px; line-height: 32px; font-weight: 500; font-style: normal; color: #17191d; margin-bottom: 1.5rem; }

.single-post-content h4 { font-size: 20px; line-height: 25px; font-weight: 500; font-style: normal; color: #17191d; margin-bottom: 1.5rem; }

.single-post-content h5 { font-size: 18px; line-height: 22px; font-weight: 500; font-style: normal; color: #17191d; margin-bottom: 1.5rem; }

.single-post-content h6 { font-size: 16px; line-height: 20px; font-weight: 500; font-style: normal; color: #17191d; margin-bottom: 1.5rem; }

.single-post-content img { /* top + bottom margins */ margin-top: 1.5rem; margin-bottom: 1.5rem; }

.single-post-content img.alignleft { float: left; margin-right: 1.5rem; }

.single-post-content img.alignright { float: right; margin-left: 1.5rem; }

.single-post-content img.aligncenter { text-align: center; display: block; margin-left: auto; margin-right: auto; }

.single-post-content cite, .single-post-content em { font-family: "Open Sans", sans-serif; font-weight: 400; font-style: normal; font-size: 16px; line-height: 24px; color: #4A4E57; }

.single-post-content p { font-family: "Open Sans", sans-serif; font-weight: 400; font-style: normal; font-size: 16px; line-height: 24px; color: #4A4E57; }

.single-post-content p b, .single-post-content p strong { font-weight: 600; }

.single-post-content .main-title-desc p:last-of-type { margin-bottom: 0rem; }

.single-post-content b, .single-post-content strong { font-weight: 600; }

.single-post-content blockquote { padding: 1.5rem 0rem 0.5rem; }

.single-post-content blockquote img { margin: 0rem; }

.single-post-content blockquote p { font-family: "neue-haas-grotesk-text", sans-serif; font-weight: 400; font-style: normal; font-size: 28px; line-height: 35px; color: #17191D; margin: 0; position: relative; display: inline-block; }

.single-post-content blockquote p:first-child::before { content: ""; width: 16px; height: 11px; background-image: url("../../images/icons/streamline-icon-open-quote@24x24.svg"); background-repeat: no-repeat; background-position: left top; display: inline-block; vertical-align: text-top; }

.single-post-content blockquote p:last-child::after { content: ""; width: 16px; height: 11px; background-image: url("../../images/icons/streamline-icon-close-quote@24x24.svg"); background-repeat: no-repeat; background-position: left top; display: inline-block; vertical-align: super; }

.single-post-content .article-link a { font-size: 16px; font-weight: 500; color: #2cc4ec; outline: none; }

.single-post-content .article-link a:hover { color: #2cc4ec; text-decoration: underline; }

.single-post-content .dot-list ul { padding-left: 20px; }

.single-post-content .dot-list ul li { font-family: 'Open Sans', sans-serif; margin-bottom: 5px; font-size: 16px; line-height: 24px; color: #4a4e57; list-style-type: disc; list-style-position: outside; }

.single-post-content .check-list ul li { font-family: 'Open Sans', sans-serif; font-size: 16px; line-height: 24px; color: #4a4e57; display: block; list-style: none; padding-left: 35px; margin-bottom: 15px; position: relative; }

.single-post-content .check-list ul li::before { content: ""; background-image: url("../../images/icons/streamline-icon-check-circle-1@24x24.svg"); background-repeat: no-repeat; background-position: center center; width: 24px; height: 24px; display: inline-block; position: absolute; top: 0; left: 0; }

.post-block .card-deck .card { border: 0; border-radius: 0; margin-bottom: 40px; }

.post-block .card-deck .card .card-img-top { border-radius: 0; }

.post-block .card-deck .card .card-body .card-title a { font-weight: 500; font-style: normal; font-size: 20px; line-height: 25px; color: #17191d; }

.post-block .card-deck .card .card-body .card-text p { margin-bottom: 0; }

.post-block .card-deck .card .card-footer { background-color: transparent; border-radius: 0; border: 0; }

.post-block .card-deck .card .post-clock { display: flex !important; }

.post-block .card-deck .card .post-clock img { max-width: initial; }

@media (max-width: 992px) { .single-post-wrap { margin-bottom: 20px; }
  .article-box-up { margin-top: 0px; }
  .social-media { margin-bottom: 5px; } }

@media (max-width: 767px) { .single-post-box.single-post-box-title h1 { font-size: 34px; line-height: 44px; }
  .single-post-content h1 { font-size: 30px; line-height: 40px; }
  .single-post-content h2 { font-size: 24px; line-height: 30px; }
  .single-post-content h3 { font-size: 22px; line-height: 28px; }
  .single-post-content h4 { font-size: 20px; line-height: 24px; }
  .post-block .card-deck { display: flex; flex-direction: column; }
  .banner-wrap { min-height: 300px; } }

/*IE Only CSS */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .single-post-box .post-clock { display: block !important; }
  .post-block .card-deck .card .card-footer .post-clock { display: block !important; } }
/*# sourceMappingURL=a-single-post.css.map */