.sub-banner-wrap { padding-bottom: 130px; }

.sub-banner-wrap .title1 h3 { font-family: "Open Sans", sans-serif; font-weight: 600; }

/***MagnificPopup***/
.mfp-bg { z-index: 1051; }

.mfp-wrap { z-index: 1052; }

.ct-video { position: relative; min-height: 430px; height: 100%; border-radius: 3px; }

.ct-video .popup-youtube { display: block; }

button.mfp-close { outline: none; }

.play-btn { position: absolute; left: 50%; top: 50%; margin-left: -36px; margin-top: -36px; z-index: 5; cursor: pointer; text-align: center; }

.play-btn span { width: 72px; height: 72px; line-height: 72px; text-align: center; display: block; position: relative; }

.play-btn span::before { content: ""; position: absolute; top: 0; left: -6px; right: 0; width: 72px; height: 72px; background-color: rgba(44, 196, 236, 0.8); border-radius: 50%; display: inline-block; z-index: -1; animation: 1.5s ease 0s normal none infinite running bubble-ripple; }

.play-btn span:after { content: ""; position: absolute; top: 0; left: -6px; right: 0; width: 72px; height: 72px; background-color: rgba(44, 196, 236, 0.8); border-radius: 50%; display: inline-block; z-index: -1; }

.play-btn span img { margin-left: -3px; }

.aboutus-category-video { position: relative; margin-top: -70px; }

.post-block .card-deck .card { border: 0; border-radius: 0; margin: 15px; }

.post-block .card-deck .card .card-img-top { border-radius: 0; }

.post-block .card-deck .card .card-img-top-div { height: 180px; background-size: cover; background-position: center center; }

.post-block .card-deck .card .card-body .card-title a { font-weight: 500; font-style: normal; font-size: 20px; line-height: 25px; color: #17191d; }

.post-block .card-deck .card .card-footer { background-color: transparent; border-radius: 0; border: 0; }

.post-content-list { padding: 0 0 40px 0px; }

.post-content-list .post-content-title { margin-bottom: 0.75rem; }

.post-content-list .post-content-title a { font-weight: 500; font-style: normal; font-size: 20px; line-height: 25px; color: #17191d; }

.post-content-list .post-content-text { margin-bottom: 20px; }

/* ODD AND EVEN BLOCK CSS */
.odd-even-wrap { display: flex; flex: 1 0 0%; }

.odd-even-wrap .even-block { width: 45%; }

.odd-even-wrap .even-block.even-block-banner-img { background-repeat: no-repeat; background-position: top left; background-size: cover; min-height: 630px; height: 100%; }

.odd-even-wrap .even-block.even-block-banner-img .even-block-content { padding: 0px 60px; max-width: 685px; width: 100%; height: 100%; }

.odd-even-wrap .odd-block { width: 55%; padding: 0px 100px; }

.odd-even-wrap .odd-block .odd-left { max-width: 535px; width: 100%; float: right; }

.grid-1third .even-block { width: 45%; }

.grid-1third .even-block .even-block-content { padding: 0px 60px; max-width: 685px; width: 100%; height: 100%; }

.grid-1third .even-block.even-block-banner-img { min-height: 717px; }

.grid-1third .odd-block { width: 55%; padding: 0px 100px; }

.grid-1third .odd-block .odd-left { max-width: 545px; width: 100%; float: right; }

.customer-exp-chat .post-content-list .post-content-title a { font-size: 28px; line-height: 30px; }

.owl-theme .owl-nav.disabled + .owl-dots { margin-top: 25px; }

.owl-theme .owl-dots .owl-dot { outline: none; }

.owl-theme .owl-dots .owl-dot span { background: #828281; border: 2px solid #828281; width: 14px; height: 14px; }

.owl-theme .owl-dots .owl-dot:hover span { background: #828281; border: 2px solid #828281; }

.owl-theme .owl-dots .owl-dot.active span { background: #ffffff; width: 16px; height: 16px; margin: 4px 7px; }

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next { background-color: #ffffff; border: 1px solid #233659; color: #233659; border-radius: 3px; -webkit-border-radius: 3px; -moz-box-border-radius: 3px; -o-border-radius: 3px; width: 24px; outline: none; }

.owl-carousel .owl-nav button.owl-prev span, .owl-carousel .owl-nav button.owl-next span { font-family: 'Open Sans', sans-serif; font-size: 20px; }

.owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover { background: #233659; }

.sliderPrevBtn, .sliderNextBtn { background-color: #233659; width: 26px; height: 26px; line-height: 26px; text-align: center; border-radius: 50%; display: inline-block; }

.sliderPrevBtn:hover, .sliderNextBtn:hover { background-color: #2CC4EC; }

.sliderPrevBtn .arrow-icon, .sliderNextBtn .arrow-icon { background-repeat: no-repeat; background-position: center center; display: block; width: 26px; height: 26px; line-height: 26px; }

.sliderPrevBtn .arrow-left { background-image: url("../../images/icons/streamline-icon-arrow-prev-w@24x24.svg"); }

.sliderNextBtn .arrow-right { background-image: url("../../images/icons/streamline-icon-arrow-next-w@24x24.svg"); }

.champion-name span { font-size: 12px; font-weight: 500; }

.our-office-wrap { padding: 50px 0; }

.ct-office-map-wrap .ct-office-map { position: relative; }

.ct-office-map-wrap .ct-office-map .pin-block { position: absolute; cursor: pointer; }

.ct-office-map-wrap .ct-office-map .pin-block:hover .ct-office-name { display: block; animation: fadeIn 1s; }

.pin { width: 26px; height: 26px; display: block; position: relative; }

.pin::before { content: ""; position: absolute; top: 0; left: 0; right: 0; width: 26px; height: 26px; background-color: rgba(44, 196, 236, 0.8); border-radius: 50%; display: inline-block; z-index: -1; animation: 1.5s ease 0s normal none infinite running bubble-ripple; }

.pin::after { content: ""; position: absolute; top: 0; left: 0; right: 0; width: 26px; height: 26px; background-color: rgba(44, 196, 236, 0.8); border-radius: 50%; display: inline-block; z-index: -1; }

.pin-one { left: 46%; bottom: 15px; }

.pin-two { left: 44%; bottom: 33%; }

.pin-three { left: 10%; bottom: 46%; }

.pin-four { left: 19%; bottom: 61%; }

.ct-office-name { background-color: #2CC4EC; padding: 5px 10px; font-size: 12px; color: #ffffff; border-radius: 3px; height: auto; position: relative; top: -10px; left: 15px; z-index: 2; display: none; }

.list1 ul li { margin-bottom: 20px; }

.list1 ul li a { font-size: 16px; color: #17191D; }

/* TABS BLOCK CSS */
.ct-tabs .custom-tabs { border-bottom: 0px; }

.ct-tabs .custom-tabs .nav-item { margin-bottom: 0px; }

.ct-tabs .custom-tabs .nav-link { border-radius: 0px; border: 0px; border-bottom: 4px solid #ffffff; color: #233659; font-size: 16px; }

.board-members-left { padding: 1.6rem 1.7rem; }

/* IMAGE OVERLAY BLOCK CSS */
.img-overlay-botm .card { border: none; border-radius: 0rem; }

.img-overlay-botm .card .card-img { border-radius: 0rem; }

.img-overlay-botm .card .card-img-overlay { /* ff3.6+ */ /* safari4+,chrome */ /* safari5.1+,chrome10+ */ /* opera 11.10+ */ /* ie10+ */ background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 100%); /* w3c */ top: auto; padding: 30px; }

.img-overlay-botm .card .title h3 { margin-bottom: 0rem; }

.img-overlay-botm .card .card-text span { font-size: 10px; }

.our-leadership-wrap { position: relative; }

.our-leadership-wrap:before { content: ""; display: block; position: absolute; bottom: 0; left: 0; right: 0; width: 100%; height: 200px; z-index: -1; background-color: #233659; }

.msg-delivered-wrap { position: relative; padding-top: 80px; margin-bottom: 60px; }

.msg-delivered-wrap:before { content: ""; display: block; position: absolute; bottom: 0; left: 0; right: 0; width: 100%; height: 100px; background-color: #ffffff; }

.msg-delivered { position: relative; }

.msg-delivered .msg-delivered-img { border-radius: 0.2rem; }

.msg-delivered .delivered-msg-count { box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2); padding: 30px; position: absolute; top: 30px; left: auto; right: 0; z-index: 1; }

.msg-delivered .delivered-msg-count .text h2 { font-size: 72px; line-height: 80px; margin: 0rem; }

.msg-delivered .delivered-msg-count .text h3 { font-size: 28px; line-height: 35px; margin: 0rem; }

.our-founders-wrap { position: relative; }

.our-founders-wrap::before { content: ""; display: block; position: absolute; left: 0; right: 0; bottom: 0; width: 100%; height: 140px; background-color: #ffffff; }

.clickatellian-wrap { position: relative; }

.clickatellian-wrap::before { content: ""; display: block; position: absolute; left: 0; right: 0; bottom: 0; width: 100%; height: 80px; background-color: #233659; z-index: -1; }

.latest-news-update { position: relative; }

.latest-news-update::before { content: ""; display: block; position: absolute; left: 0; right: 0; top: 0; width: 100%; height: 120px; background-color: #233659; z-index: -1; }

@media (min-width: 1024px) { .grid-1third .odd-block { border-bottom: 45px solid #F7F7F7; } }

@media (min-width: 992px) { .ct-tabs .custom-tabs .nav-link { padding: 1.5rem; text-align: center; }
  .ct-tabs .custom-tabs .nav-link.active { font-weight: 500; border-color: #233659; }
  .ct-tabs .custom-tabs .nav-item.show { font-weight: 500; border-color: #233659; }
  .ct-tabs .ct-tabs-header { box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.2); }
  .ct-tabs .ct-tabs-header .title1 { padding: 1.48rem 1.7rem; }
  .ct-tabs .ct-tabs-header .title1 h3 { margin-bottom: 0rem; } }

@media (max-width: 1024px) { .odd-even-wrap .odd-block { padding: 0px 50px; }
  .pin-one { left: 50%; }
  .pin-two { left: 46%; }
  .pin-three { left: 12%; }
  .pin-four { left: 20%; } }

@media (max-width: 992px) { .sub-banner-wrap { padding-bottom: 60px; }
  .aboutus-category-video { margin-top: 60px; }
  .odd-even-wrap { display: block; }
  .odd-even-wrap .even-block { width: 100%; }
  .odd-even-wrap .even-block .even-block-content { max-width: 100%; }
  .odd-even-wrap .even-block.even-block-banner-img { min-height: 450px; }
  .odd-even-wrap .odd-block { width: 100%; padding: 60px 50px; }
  .odd-even-wrap .odd-block .odd-left { max-width: 100%; float: none; }
  .pin { width: 20px; height: 20px; }
  .pin::before { width: 20px; height: 20px; }
  .pin::after { width: 20px; height: 20px; }
  .pin-four { left: 22%; }
  .pin-three { left: 13%; }
  .ct-tabs .custom-tabs { position: relative; left: 0px; right: 0px; z-index: 999; color: #233659; background-color: rgba(198, 235, 246, 0.4); border: 0px; box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.2); }
  .ct-tabs .custom-tabs .nav-link { border-radius: 0px; border: 0px; border-bottom: 1px solid rgba(124, 152, 182, 0.6); color: #233659; font-size: 16px; }
  .ct-tabs .custom-tabs .nav-link.active { background-color: #2CC4EC; color: #ffffff; }
  .custom-tabs { display: none; }
  .custom-tabs.opened { display: block; }
  .ct-tabs-dropdown { position: relative; padding: 15px 50px 15px 15px; border-bottom: 4px solid #233659; font-size: 16px; font-weight: 500; color: #233659; }
  .ct-tabs-dropdown:before, .ct-tabs-dropdown:after { content: ""; display: block; width: 3px; height: 15px; position: absolute; background-color: #233659; transition: all 350ms ease-out; border-radius: 4px; top: 20px; }
  .ct-tabs-dropdown:before { transform: rotate(-45deg); right: 29px; }
  .ct-tabs-dropdown:after { transform: rotate(45deg); right: 20px; }
  .ct-tabs-dropdown.opened:before { transform: rotate(45deg); }
  .ct-tabs-dropdown.opened:after { transform: rotate(-45deg); } }

@media (max-width: 768px) { .odd-even-wrap .odd-block { padding: 60px 40px; } }

@media (max-width: 767px) { .post-block .card-deck { display: flex; flex-direction: column; }
  .banner-wrap { min-height: 300px; }
  .ct-video figure { min-height: 300px; }
  .msg-delivered .delivered-msg-count { position: static; text-align: center; }
  .get-to-know .half-col { column-count: 1; } }

@media (max-width: 576px) { .odd-even-wrap .odd-block { padding: 60px 15px; }
  .ct-video { min-height: 300px; }
  .msg-delivered .msg-delivered-img { border-radius: 0rem; }
  .msg-delivered .delivered-msg-count { position: static; text-align: center; }
  .msg-delivered .delivered-msg-count .text h2 { font-size: 60px; line-height: 68px; margin: 0rem; }
  .msg-delivered .delivered-msg-count .text h3 { font-size: 24px; line-height: 30px; margin: 0rem; }
  .img-overlay-botm .card .card-img-overlay { position: static; background: #17191D; } }

@media (max-width: 480px) { .ct-office-name { top: -5px; left: 5px; }
  .pin { width: 16px; height: 16px; }
  .pin::before { width: 16px; height: 16px; }
  .pin::after { width: 16px; height: 16px; }
  .pin-one { bottom: 15px; }
  .pin-four { left: 21%; } }

/*IE Only CSS */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .post-block .card-deck .card .card-footer .post-clock { display: block !important; }
  .grid-1third .odd-block .odd-left.d-flex { display: block !important; padding-top: 7%; } }

/* ======================================== MAC OS Only CSS ======================================== */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-width: 992px) { .mac-os .odd-even-wrap.grid-1third .even-block-banner-img { min-height: 690px; } }

@keyframes fadeIn { from { opacity: 0; }
  to { opacity: 1; } }

@keyframes bubble-ripple { 0% {
    transform: scale(1.4);
    opacity: .55;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; }
  25% {
    transform: scale(1.4);
    opacity: 0.55;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; }
  100% {
    transform: scale(1.8);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; } }
/*# sourceMappingURL=aboutus-category-landingpage.css.map */