.sub-banner-wrap {
    padding-bottom: 130px;
    .title1 {
        h3 {
            font-family: "Open Sans", sans-serif;
            font-weight: 600;
        }
    }
}


/***MagnificPopup***/

.mfp-bg {
    z-index: 1051;
}

.mfp-wrap {
    z-index: 1052;
}

.ct-video {
    position: relative;
    min-height: 430px;
    height: 100%;
    .popup-youtube {
        display: block;
    }
}

button.mfp-close {
    outline: none;
}

.play-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    z-index: 5;
    cursor: pointer;
    text-align: center;
    span {
        width: 72px;
        height: 72px;
        line-height: 72px;
        text-align: center;
        display: block;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -6px;
            right: 0;
            width: 72px;
            height: 72px;
            background-color: rgba(44, 196, 236, 0.8);
            border-radius: 50%;
            display: inline-block;
            z-index: -1;
            -webkit-animation: 1.5s ease 0s normal none infinite running bubble-ripple;
            animation: 1.5s ease 0s normal none infinite running bubble-ripple;
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: -6px;
            right: 0;
            width: 72px;
            height: 72px;
            background-color: rgba(44, 196, 236, 0.8);
            border-radius: 50%;
            display: inline-block;
            z-index: -1;
        }
        img {
            margin-left: -3px;
        }
    }
}

.aboutus-video {
    .ct-video {
        min-height: 520px;
    }
}

.get-to-know {
    .body {
        p {
            font-size: 20px;
            line-height: 28px;
        }
    }
}

.aboutus-category-video {
    position: relative;
    margin-top: -70px;
}

.post-block {
    .card-deck {
        .card {
            border: 0;
            border-radius: 0;
            margin: 15px;
            .card-img-top {
                border-radius: 0;
            }
            .card-img-top-div {
                height: 180px;
                background-size: cover;
                background-position: center center;
            }
            .card-body {
                .card-title {
                    a {
                        font-weight: 500;
                        font-style: normal;
                        font-size: 20px;
                        line-height: 25px;
                        color: #17191d;
                    }
                }
            }
            .card-footer {
                background-color: transparent;
                border-radius: 0;
                border: 0;
            }
        }
    }
}

.post-content-list {
    padding: 0 0 40px 0px;
    .post-content-thumb-img {
        margin-bottom: 30px;
    }
    .post-content-img {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 260px;
        height: 100%;
        margin-bottom: 30px;
    }
    .post-content-title {
        margin-bottom: 0.75rem;
        h3 {
            font-family: "Open Sans", sans-serif;
            font-weight: 600;
            font-style: normal;
            font-size: 20px;
            line-height: 25px;
            color: #17191D;
        }
    }
    .post-content-text {
        margin-bottom: 20px;
    }
}


/* ODD AND EVEN BLOCK CSS */

.odd-even-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    .even-block {
        width: 50%;
        .even-block-content {
            padding: 0px 60px;
            max-width: 685px;
            width: 100%;
            height: 100%;
        }
    }
    .pt-landing-banner {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 570px;
        height: 100%;
    }
    .even-block-banner-img {
        background-repeat: no-repeat;
        background-position: top left;
        background-size: cover;
        min-height: 630px;
        height: 100%;
    }
    .odd-block {
        width: 50%;
        padding: 0px 100px;
        .odd-left {
            max-width: 450px;
            width: 100%;
            float: right;
        }
    }
}

.grid-1third {
    .even-block {
        width: 45%;
        .even-block-content {
            padding: 0px 60px;
            max-width: 685px;
            width: 100%;
            height: 100%;
        }
        &.even-block-banner-img {
            min-height: 717px;
        }
    }
    .odd-block {
        width: 55%;
        padding: 0px 100px;
        .odd-left {
            max-width: 545px;
            width: 100%;
            float: right;
        }
    }
}

.big-idea-wrap {
    .big-idea-right {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 485px;
        height: 100%;
    }
}

.customer-exp-chat {
    .post-content-list {
        .post-content-title {
            a {
                font-size: 28px;
                line-height: 30px;
            }
        }
    }
}

.milestone-slider {
    max-width: 1330px;
    margin: 0 0 0 auto;
}

.owl-theme {
    .owl-nav.disabled+.owl-dots {
        margin-top: 25px;
    }
    .owl-dots {
        .owl-dot {
            outline: none;
            span {
                background: #828281;
                border: 2px solid #828281;
                width: 14px;
                height: 14px;
            }
            &:hover span {
                background: #828281;
                border: 2px solid #828281;
            }
            &.active span {
                background: #ffffff;
                width: 16px;
                height: 16px;
                margin: 4px 7px;
            }
        }
    }
}

.owl-carousel {
    .owl-nav {
        button.owl-prev,
        button.owl-next {
            background-color: #ffffff;
            border: 1px solid #233659;
            color: #233659;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-box-border-radius: 3px;
            -o-border-radius: 3px;
            width: 24px;
            outline: none;
            span {
                font-family: 'Open Sans', sans-serif;
                font-size: 20px;
            }
            &:hover {
                background: #233659;
            }
        }
    }
}

.sliderPrevBtn,
.sliderNextBtn {
    background-color: #233659;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    &:hover {
        background-color: #2CC4EC;
    }
    .arrow-icon {
        background-repeat: no-repeat;
        background-position: center center;
        display: block;
        width: 26px;
        height: 26px;
        line-height: 26px;
    }
}

.sliderPrevBtn {
    .arrow-left {
        background-image: url('../../images/icons/streamline-icon-arrow-prev-w@24x24.svg');
    }
}

.sliderNextBtn {
    .arrow-right {
        background-image: url('../../images/icons/streamline-icon-arrow-next-w@24x24.svg');
    }
}

.companies-logo {
    .owl-carousel {
        &.logo-slider {
            .owl-item {
                text-align: center;
                img {
                    width: auto;
                    display: inline-block;
                }
            }
        }
        .owl-nav {
            margin-top: 40px;
            button.owl-prev,
            button.owl-next {
                background-color: #233659;
                color: #ffffff;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-box-border-radius: 50%;
                -o-border-radius: 50%;
                width: 26px;
                height: 26px;
                outline: none;
                span {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 26px;
                    line-height: 18px;
                    font-weight: 400;
                    display: inline-block;
                }
                &:hover {
                    background-color: #2CC4EC;
                }
            }
        }
    }
}

.champion-name {
    span {
        font-size: 12px;
        font-weight: 500;
    }
}

.our-office-wrap {
    padding: 80px 0 20px;
}

.ct-office-map-wrap {
    .ct-office-map {
        position: relative;
        .pin-block {
            position: absolute;
            cursor: pointer;
            &:hover .ct-office-name {
                display: block;
                -webkit-animation: fadeIn 1s;
                animation: fadeIn 1s;
            }
        }
    }
}

.pin {
    width: 26px;
    height: 26px;
    display: block;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 26px;
        height: 26px;
        background-color: rgba(44, 196, 236, 0.8);
        border-radius: 50%;
        display: inline-block;
        z-index: -1;
        -webkit-animation: 1.5s ease 0s normal none infinite running bubble-ripple;
        animation: 1.5s ease 0s normal none infinite running bubble-ripple;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 26px;
        height: 26px;
        background-color: rgba(44, 196, 236, 0.8);
        border-radius: 50%;
        display: inline-block;
        z-index: -1;
    }
}

.pin-one {
    left: 46%;
    bottom: 15px;
}

.pin-two {
    left: 44%;
    bottom: 33%;
}

.pin-three {
    left: 10%;
    bottom: 46%;
}

.pin-four {
    left: 19%;
    bottom: 61%;
}

.pin-five {
    left: 63%;
    bottom: 45%;
}

.ct-office-name {
    background-color: #2CC4EC;
    padding: 5px 10px;
    font-size: 12px;
    color: #ffffff;
    border-radius: 3px;
    height: auto;
    position: relative;
    top: -10px;
    left: 15px;
    z-index: 2;
    display: none;
}

.list1 {
    ul {
        li {
            font-size: 16px;
            color: #17191D;
            margin-bottom: 20px;
            a {
                font-size: 16px;
                color: #17191D;
            }
        }
    }
}


/* TABS BLOCK CSS */

.ct-tabs {
    .custom-tabs {
        border-bottom: 0px;
        .nav-item {
            margin-bottom: 0px;
        }
        .nav-link {
            border-radius: 0px;
            border: 0px;
            border-bottom: 4px solid #ffffff;
            color: #233659;
            font-size: 16px;
        }
    }
}

.our-leadership-wrap {
    position: relative;
    padding: 40px 0 20px;
    background-color: #233659;
    z-index: 1;
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 330px;
        z-index: -1;
        background-color: #ffffff;
    }
}

.leader-list-block {
    padding: 30px 0 0 0;
}

.leader-list {
    .card-columns {
        flex-direction: row;
    }
    .card {
        margin-bottom: 2.75rem;
        border-radius: 0rem;
        border: none;
    }
    .card-body {
        padding: 0rem;
    }
}


/* IMAGE OVERLAY BLOCK CSS */

.img-overlay-botm {
    position: relative;
    .card-img-top {
        border-radius: 0rem;
        height: 360px;
        object-fit: cover;
    }
    .card-img-overlay {
        background: -moz-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        /* ff3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
        /* safari4+,chrome */
        background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        /* safari5.1+,chrome10+ */
        background: -o-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        /* opera 11.10+ */
        background: -ms-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        /* ie10+ */
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        /* w3c */
        // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* ie6-9 */
        top: auto;
    }
    .img-overlay-text {
        margin-bottom: 0rem;
    }
}

.img-overlay-body {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.2);
    padding: 1.25rem 1.50rem;
    &.has-paragraph {
        p {
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }
    }
    .readmore {
        font-size: 16px;
        font-weight: 600;
        color: #2cc4ec;
    }
}

.read-moreless-block {
    .textcontent {
        display: block;
        max-height: 170px;
        overflow: hidden;
        -moz-transition: max-height 500ms ease-in-out;
        -o-transition: max-height 500ms ease-in-out;
        -webkit-transition: max-height 500ms ease-in-out;
        transition: max-height 500ms ease-in-out;
    }
    .readmore {
        display: block;
        margin: 10px 0 0px 0;
        cursor: pointer;
    }
    .textcontent.extend-toggle {
        max-height: 2000px;
        white-space: normal;
        overflow: visible;
    }
}

.msg-delivered-wrap {
    position: relative;
    padding-top: 80px;
    margin-bottom: 60px;
    &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100px;
        background-color: #ffffff;
    }
}

.msg-delivered {
    position: relative;
    .msg-delivered-img {
        border-radius: 0.2rem;
    }
    .delivered-msg-count {
        -webkit-box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2);
        padding: 30px;
        position: absolute;
        top: 30px;
        left: auto;
        right: 0;
        z-index: 1;
        .text {
            h2 {
                font-size: 72px;
                line-height: 80px;
                margin: 0rem;
            }
            h3 {
                font-size: 28px;
                line-height: 35px;
                margin: 0rem;
            }
        }
    }
}

.our-customers {
    margin: 40px 0px;
}

.our-founders-wrap {
    position: relative;
    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 140px;
        background-color: #ffffff;
    }
}

.clickatellian-wrap {
    position: relative;
    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 80px;
        background-color: #F7F7F7;
        z-index: -1;
    }
}

.latest-news-update {
    position: relative;
    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        height: 120px;
        background-color: #F7F7F7;
        z-index: -1;
    }
    &.post-block {
        .card {
            background-color: transparent;
        }
    }
}

@media (min-width: 576px) {
    .leader-list {
        .card-columns {
            column-gap: 2.25rem;
        }
    }
}

@media (min-width: 768px) {
    .milestone-slider {
        .owl-stage {
            padding-left: 0 !important;
        }
    }
    .leader-list {
        .card-columns {
            column-count: 3;
        }
    }
}

@media (min-width: 992px) {
    .odd-even-wrap {
        .odd-block {
            border-bottom: 70px solid #ffffff;
        }
    }
    .ct-tabs {
        .custom-tabs {
            .nav-link {
                padding: 1.5rem;
                text-align: center;
            }
            .nav-link.active {
                font-weight: 500;
                border-color: #2cc4ec;
                color: #2cc4ec;
            }
            .nav-item.show {
                font-weight: 500;
                border-color: #2cc4ec;
                color: #2cc4ec;
            }
        }
        .ct-tabs-header {
            background-color: #ffffff;
            -webkit-box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.2);
            .title1 {
                padding: 1.48rem 1.7rem;
                h3 {
                    margin-bottom: 0rem;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .grid-1third {
        .odd-block {
            border-bottom: 45px solid #F7F7F7;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1366px) {
    .milestone-slider {
        max-width: 1220px;
        width: 97%;
    }
}

@media (max-width: 1024px) {
    .odd-even-wrap {
        .odd-block {
            padding: 0px 50px;
        }
    }
    .pin-one {
        left: 50%;
    }
    .pin-two {
        left: 46%;
    }
    .pin-three {
        left: 12%;
    }
    .pin-four {
        left: 20%;
    }
    .pin-five {
        left: 68%;
    }
}

@media (max-width: 992px) {
    .sub-banner-wrap {
        padding-bottom: 60px;
    }
    .aboutus-category-video {
        margin-top: 60px;
    }
    .odd-even-wrap {
        display: flex;
        flex-direction: column;
        .even-block {
            width: 100%;
            .even-block-content {
                max-width: 100%;
            }
        }
        .even-block.even-block-banner-img {
            min-height: 450px;
        }
        .pt-landing-banner {
            min-height: 450px;
        }
        .odd-block {
            width: 100%;
            padding: 60px 50px;
            .odd-left {
                max-width: 100%;
                float: none;
            }
        }
    }
    .big-idea-wrap {
        .big-idea-right {
            margin: 40px 0 0 0px;
            height: auto;
        }
    }
    .pin {
        width: 20px;
        height: 20px;
        &::before {
            width: 20px;
            height: 20px;
        }
        &::after {
            width: 20px;
            height: 20px;
        }
    }
    .pin-four {
        left: 22%;
    }
    .pin-three {
        left: 13%;
    }
    .ct-tabs {
        .custom-tabs {
            position: relative;
            left: 0px;
            right: 0px;
            z-index: 999;
            color: #233659;
            background-color: rgba(198, 235, 246, 0.4);
            border: 0px;
            -webkit-box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.2);
            .nav-link {
                border-radius: 0px;
                border: 0px;
                border-bottom: 1px solid rgba(124, 152, 182, 0.6);
                color: #233659;
                font-size: 16px;
                text-align: left;
                &.active {
                    background-color: #2CC4EC;
                    color: #ffffff;
                }
            }
        }
    }
    .custom-tabs {
        display: none;
    }
    .custom-tabs.opened {
        display: block;
    }
    .ct-tabs-dropdown {
        position: relative;
        padding: 15px 50px 15px 0px;
        border-bottom: 4px solid #2cc4ec;
        font-size: 16px;
        font-weight: 500;
        color: #2cc4ec;
        &:before,
        &:after {
            content: "";
            display: block;
            width: 3px;
            height: 15px;
            position: absolute;
            background-color: #2cc4ec;
            transition: all 350ms ease-out;
            border-radius: 4px;
            top: 20px;
        }
        &:before {
            transform: rotate(-45deg);
            right: 14px;
        }
        &:after {
            transform: rotate(45deg);
            right: 5px;
        }
    }
    .ct-tabs-dropdown.opened {
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
    .img-overlay-botm {
        .card-img-overlay {
            .img-overlay-title {
                font-size: 18px;
                line-height: 28px;
            }
        }
    }
    .milestone-slider {
        width: 96%;
    }
}

@media (max-width: 768px) {
    .odd-even-wrap {
        .odd-block {
            padding: 60px 40px;
        }
    }
}

@media (max-width: 767px) {
    .post-block {
        .card-deck {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }
    }
    .banner-wrap {
        min-height: 300px;
    }
    .ct-video {
        figure {
            min-height: 300px;
        }
    }
    .aboutus-video {
        .ct-video {
            min-height: 340px;
        }
    }
    .msg-delivered {
        .delivered-msg-count {
            position: static;
            text-align: center;
        }
    }
    .get-to-know {
        .half-col {
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
        }
    }
    .leader-list {
        .img-overlay-botm {
            .card-img-overlay {
                background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 100%);
                // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
            }
        }
    }
    .milestone-slider {
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 576px) {
    .odd-even-wrap {
        .odd-block {
            padding: 60px 15px;
        }
    }
    .ct-video {
        min-height: 300px;
    }
    .msg-delivered {
        .msg-delivered-img {
            border-radius: 0rem;
        }
        .delivered-msg-count {
            position: static;
            text-align: center;
            .text {
                h2 {
                    font-size: 60px;
                    line-height: 68px;
                    margin: 0rem;
                }
                h3 {
                    font-size: 24px;
                    line-height: 30px;
                    margin: 0rem;
                }
            }
        }
    }
    .img-overlay-botm {
        .card {
            .card-img-overlay {
                position: static;
                background: #17191D;
            }
        }
    }
    .our-leadership-wrap {
        &::before {
            height: 94%;
        }
    }
    .leader-list {
        .card {
            margin-bottom: 1.15rem;
        }
    }
}

@media (max-width: 480px) {
    .ct-office-name {
        top: -5px;
        left: 5px;
    }
    .pin {
        width: 16px;
        height: 16px;
        &::before {
            width: 16px;
            height: 16px;
        }
        &::after {
            width: 16px;
            height: 16px;
        }
    }
    .pin-one {
        bottom: 15px;
    }
    .pin-four {
        left: 21%;
    }
}


/*IE Only CSS */

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .post-block {
        .card-deck {
            .card {
                .card-footer {
                    .post-clock {
                        display: block !important;
                    }
                }
            }
        }
    }
    .odd-even-wrap {
        .odd-block {
            .odd-left.d-flex {
                display: block !important;
                padding-top: 12%;
            }
        }
    }
    .grid-1third {
        .odd-block {
            .odd-left.d-flex {
                display: block !important;
                padding-top: 7%;
            }
        }
    }
}


/* ========================================
     MAC OS Only CSS
    ======================================== */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @media (min-width: 992px) {
        .mac-os .odd-even-wrap.grid-1third {
            .even-block-banner-img {
                min-height: 690px;
            }
        }
    }
    @media (min-width: 1440px) {
        .mac-os .milestone-slider {
            // width: 84%;
        }
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes bubble-ripple {
    0% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: .55;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    }
    25% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0.55;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    }
    100% {
        -webkit-transform: scale(1.8);
        transform: scale(1.8);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@keyframes bubble-ripple {
    0% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: .55;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    }
    25% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0.55;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    }
    100% {
        -webkit-transform: scale(1.8);
        transform: scale(1.8);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}