@charset "UTF-8";
.oxford-blue-bg { background-color: #000C30; }

.oxford-blue-text { color: #000C30; }

.iron-light-bg { background-color: #F4F9FF; }

.iron-dark-bg { background-color: #232425; }

.mfp-bg { z-index: 1051; }

.mfp-wrap { z-index: 1052; }

button.mfp-close { outline: none; }

.m30 { margin-bottom: 30px; }

.box-rounded { border-radius: 25px; }

.hyperlink { font-size: 16px; font-weight: 500; }

.hyperlink span::after { content: ""; background-image: url("../../images/icons/arrow-right-light-blue.svg"); background-repeat: no-repeat; background-position: right center; display: inline-block; width: 5px; height: 10px; padding-left: 15px; vertical-align: middle; }

.hyperlink:hover, .hyperlink:hover span { color: #52CEEF; text-decoration: underline; }

.hyperlink:active span, .hyperlink:focus span { color: #2CC4EC; text-decoration: underline; }

.hyperlink.disabled span { color: #D4D9E2; text-decoration: none; }

.hyperlink.disabled span::after { content: ""; background-image: url("../../images/icons/arrow-right-light-grey.svg"); }

/*Hubspot Form Design css */
.hbspt-form .hs-fieldtype-textarea .input { margin-bottom: 0.3rem; }

.hbspt-form .hs-input.error { border-color: #ff5801; }

.hbspt-form .no-list.hs-error-msgs { margin-top: -1rem; }

.hbspt-form .no-list.hs-error-msgs .hs-error-msg, .hbspt-form .no-list.hs-error-msgs.inputs-list li .hs-main-font-element { font-size: 80%; background-color: #ff5801; color: #ffffff; padding: 7px 5px; border-radius: 0.30rem; position: relative; }

.hbspt-form .no-list.hs-error-msgs .hs-error-msg::before, .hbspt-form .no-list.hs-error-msgs.inputs-list li .hs-main-font-element::before { content: ""; display: block; position: absolute; left: 10px; bottom: 100%; width: 0; height: 0; border-bottom: 5px solid #ff5801; border-top: 5px solid transparent; border-left: 5px solid transparent; border-right: 5px solid transparent; }

.rebuild-banner-wrap .main-title-desc.display-1 h1 { margin-bottom: 0; }

.rebuild-banner-wrap .main-title-desc.has-paragraph-body2 p { color: #ffffff; line-height: 32px; margin-bottom: 0; }

.rebuild-banner-wrap .banner-left .banner-buttons .btn.medium { width: 100%; }

.title-tag { font-size: 14px; font-weight: 500; border: 2px solid #8CC63F; border-radius: 40px; padding: 5px 15px 3px; display: inline-block; line-height: 1em; text-transform: uppercase; }

.title-tag-blue { font-size: 16px; font-weight: 500; border: 2px solid #000C30; border-radius: 40px; padding: 10px 15px 8px; display: inline-block; line-height: 1em; text-transform: uppercase; }

.dot-list ul { padding-left: 20px; }

.dot-list ul li { display: block; list-style: none; margin-bottom: 10px; font-size: 16px; line-height: 20px; color: #4A4E57; }

.dot-list ul li::before { content: "•"; color: #2FC4E6; display: inline-block; width: 0.90em; margin-left: -0.90em; font-size: 28px; font-weight: bold; vertical-align: middle; padding-left: 5px; }

.check-list ul li { font-size: 16px; line-height: 24px; color: #4a4e57; display: block; list-style: none; padding-left: 35px; margin-bottom: 15px; position: relative; }

.check-list ul li:before { content: ""; background-image: url("../../images/icons/streamline-icon-check-circle-1@24x24.svg"); background-repeat: no-repeat; background-position: center center; width: 24px; height: 24px; display: inline-block; position: absolute; top: 0; left: 0; }

.post-content-list { padding: 0 0 40px 0px; }

.post-content-list .post-content-thumb-img { margin-bottom: 15px; }

.post-content-list .post-content-img { background-repeat: no-repeat; background-position: center center; background-size: cover; min-height: 260px; height: 100%; margin-bottom: 30px; }

.post-content-list .post-content-img.large { min-height: 438px; }

.post-content-list .post-content-img.small { min-height: 180px; }

.post-content-list .post-content-title { margin-bottom: 0.75rem; }

.post-content-list .post-content-title a { font-weight: 500; font-style: normal; font-size: 20px; line-height: 25px; color: #17191d; }

.post-content-list .post-content-title h2 { font-weight: 700; font-style: normal; font-size: 28px; line-height: 36px; color: #000C30; }

.post-content-list .post-content-title h3 { font-weight: 500; font-style: normal; font-size: 20px; line-height: 25px; color: #17191d; }

.post-content-list .post-content-text { margin-bottom: 20px; }

.feature-box { padding: 25px; border-radius: 25px; border: 1px solid #EFEFEF; height: 100%; }

.hori-timeline .events { clear: both; position: relative; }

.hori-timeline .events::before { content: ""; width: 68%; height: 4px; background-color: #2FC4E6; display: inline-block; margin: 0 auto; position: absolute; top: -2px; left: 0; right: 0; }

.hori-timeline .events .event-list { display: block; position: relative; text-align: center; padding-top: 25px; margin-right: 0; }

.hori-timeline .events .event-list .event-count { position: absolute; top: 38px; left: 0; right: 0; width: 40px; height: 40px; margin: 0 auto; border-radius: 50%; padding: 2px 4px; color: #ffffff; text-align: center; font-size: 20px; line-height: 36px; font-weight: 700; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1); }

.brought-to-life-wrap { padding: 100px 0px 60px; }

.clients-logo { padding: 30px 0px; box-shadow: inset 0 10px 6px -6px rgba(0, 0, 0, 0.05); }

.clients-logo .logo-item { padding: 20px 10px; text-align: center; }

.chat2pay-work-wrap { padding: 60px 0px; }

.timeline-wrap .hori-timeline .events .event-list p { font-size: 16px; }

.timeline-wrap .title-desc.has-paragraph p { font-size: 16px; }

.get-in-touch-wrap { padding: 0 0 60px; position: relative; z-index: 1; }

.get-in-touch-wrap::before { content: ""; position: absolute; left: 0; top: 0; height: 95px; width: 100%; background-color: #ffffff; z-index: -1; }

.get-in-touch-wrap .feature-box { padding: 40px; }

.benefit-chat2pay-wrap { padding: 60px 0px; }

.benefit-chat2pay-wrap .feature-box { padding: 30px 20px; height: calc(100% - 40px); margin-bottom: 40px; transition: all 450ms ease-in-out; -webkit-transition: all 450ms ease-in-out; -moz-transition: all 450ms ease-in-out; -o-transition: all 450ms ease-in-out; }

.benefit-chat2pay-wrap .feature-box:hover { box-shadow: 0 1px 15px 3px rgba(0, 0, 0, 0.1); }

.benefit-chat2pay-wrap .feature-box .title1-desc.has-paragraph-body2 p { font-weight: 700; color: #000C30; }

.benefit-chat2pay-wrap .feature-box .title1-desc.has-paragraph-body p { margin-bottom: 0; }

.value-chat-commerce-wrap { padding: 70px 0 30px; }

.value-chat-commerce-wrap .title-desc.has-h2 h2 { color: #ffffff; }

.value-chat-commerce-wrap .title-desc.has-paragraph-body2 p { color: #ffffff; }

.usecases-list .use-cases-badge { margin-bottom: 40px; }

.use-cases-badge { background-color: #001966; color: #ffffff; border-radius: 26px; display: flex; align-items: center; justify-content: center; padding: 15px; min-height: 80px; text-align: center; }

.use-cases-badge h3 { font-weight: 500; margin-bottom: 0; }

.report-download-wrap { padding: 60px 0; }

/* LOGO SLIDER BLOCK CSS */
.owl-carousel.logo-slider .owl-stage-outer .owl-stage, .owl-carousel.clients-logo-slider .owl-stage-outer .owl-stage { display: flex; align-items: center; }

.owl-carousel.logo-slider .owl-stage-outer .owl-stage .owl-item, .owl-carousel.clients-logo-slider .owl-stage-outer .owl-stage .owl-item { text-align: center; padding: 0 15px; }

.owl-carousel.logo-slider .owl-stage-outer .owl-stage .owl-item img, .owl-carousel.clients-logo-slider .owl-stage-outer .owl-stage .owl-item img { width: 180px; display: inline-block; }

.owl-carousel.logo-slider .owl-nav, .owl-carousel.clients-logo-slider .owl-nav { margin-top: 40px; }

.owl-carousel.logo-slider .owl-nav button.owl-prev, .owl-carousel.logo-slider .owl-nav button.owl-next, .owl-carousel.clients-logo-slider .owl-nav button.owl-prev, .owl-carousel.clients-logo-slider .owl-nav button.owl-next { background-color: #000C30; color: #ffffff; border-radius: 50%; -webkit-border-radius: 50%; -moz-box-border-radius: 50%; -o-border-radius: 50%; width: 36px; height: 36px; outline: none; }

.owl-carousel.logo-slider .owl-nav button.owl-prev span, .owl-carousel.clients-logo-slider .owl-nav button.owl-prev span { font-size: 0px; background-image: url(../../images/icons/streamline-icon-arrow-left-w-3@24x24.svg); background-repeat: no-repeat; background-position: center center; display: inline-block; width: 10px; height: 15px; line-height: 25px; }

.owl-carousel.logo-slider .owl-nav button.owl-prev:hover, .owl-carousel.clients-logo-slider .owl-nav button.owl-prev:hover { background-color: #2FC4E6; }

.owl-carousel.logo-slider .owl-nav button.owl-next span, .owl-carousel.clients-logo-slider .owl-nav button.owl-next span { font-size: 0px; background-image: url(../../images/icons/streamline-icon-arrow-right-w-3@24x24.svg); background-repeat: no-repeat; background-position: center center; display: inline-block; width: 10px; height: 15px; line-height: 25px; }

.owl-carousel.logo-slider .owl-nav button.owl-next:hover, .owl-carousel.clients-logo-slider .owl-nav button.owl-next:hover { background-color: #2FC4E6; }

.companies-logo img { max-height: 50px; object-fit: contain; width: 180px; }

.clients-logo .companies-logo img { max-height: 35px; }

/*Responsive Design css */
@media (min-width: 992px) { .hori-timeline .events .event-list { width: calc(100%/3); float: left; }
  .hori-timeline .events .event-list .event-count { top: -22px; }
  .hori-timeline .events .event-list .event-list-inner { max-width: 85%; margin: 15px auto 0; } }

@media (min-width: 1024px) { .rebuild-banner-wrap .main-title-desc.display-1 h1 { max-width: 525px; width: 100%; } }

@media (min-width: 1366px) { .rebuild-banner-wrap { position: relative; }
  .rebuild-banner-wrap .banner-right .banner-right-img { min-height: 570px; } }

@media (min-width: 1440px) { .benefit-chat2pay-wrap .row { margin: 0 -25px; }
  .benefit-chat2pay-wrap .row [class*="col-"] { padding: 0 25px; }
  .value-chat-commerce-wrap .usecases-list .row { margin: 0 -40px; }
  .value-chat-commerce-wrap .usecases-list .row [class*="col-"] { padding: 0 40px; } }

@media (max-width: 992px) { .brought-to-life-wrap { padding: 60px 0px; }
  .hori-timeline .events { clear: both; position: relative; padding-left: 12px; }
  .hori-timeline .events::before { content: ""; width: 0px; height: 100%; top: 0; left: 0; right: auto; }
  .hori-timeline .events .event-list { text-align: left; }
  .hori-timeline .events .event-list .event-count { position: absolute; top: 22px; left: -11px; right: auto; width: 40px; height: 40px; margin: 0 auto; border-radius: 50%; padding: 2px 4px; color: #ffffff; }
  .hori-timeline .events .event-list .event-list-inner { padding-left: 40px; } }

@media (max-width: 767px) { .post-content-list .post-content-img.large { min-height: 260px; } }

@media (max-width: 576px) { .rebuild-banner-wrap .banner-left .banner-buttons .btn.medium { max-width: 202px; } }

/*IE Only CSS */
/* ======================================== MAC OS Only CSS ======================================== */
/*# sourceMappingURL=chat2pay.css.map */