.oxford-blue-bg { background-color: #000C30; }

.oxford-blue-text { color: #000C30; }

.iron-dark-bg { background-color: #333436; }

.iron-light-bg { background-color: #f4f9ff; }

.CITbody-bg { background-image: url(../../images/pattern-bg_01.webp); background-repeat: no-repeat; background-size: cover; background-position: center top; }

.header { border-bottom: 2px solid #223657; }

.derek-thomson-strip { background-image: url(../../images/derek-thomson-NqJYQ3m_rVA-unsplash.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center; }

.sub-banner-wrap .main-title-desc.has-paragraph-body2 p { color: #ffffff; }

.post-block .card-deck .card { border: 0; border-radius: 0; margin: 15px; }

.post-block .card-deck .card .card-img-top { border-radius: 0; }

.post-block .card-deck .card .card-body .card-title a { font-weight: 500; font-style: normal; font-size: 20px; line-height: 25px; color: #17191d; }

.post-block .card-deck .card .card-footer { background-color: transparent; border-radius: 0; border: 0; }

.post-content-list { padding: 0 0 40px 0px; }

.post-content-list .post-content-thumb-img { margin-bottom: 30px; }

.post-content-list .post-content-img { background-repeat: no-repeat; background-position: center center; background-size: cover; min-height: 260px; height: 100%; margin-bottom: 30px; }

.post-content-list .post-content-img.large { min-height: 438px; }

.post-content-list .post-content-img.small { min-height: 180px; }

.post-content-list .post-content-title { margin-bottom: 0.75rem; }

.post-content-list .post-content-title a { font-weight: 500; font-style: normal; font-size: 20px; line-height: 25px; color: #17191d; }

.post-content-list .post-content-title h3 { font-weight: 500; font-style: normal; font-size: 20px; line-height: 25px; color: #233659; }

.post-content-list .post-content-title h4 { font-weight: 500; font-style: normal; font-size: 16px; line-height: 25px; color: #17191d; }

.post-content-list .post-content-text { margin-bottom: 20px; }

.post-content-list .popup-youtube .chat-video-block .post-content-img { position: relative; }

.post-content-list .popup-youtube .chat-video-block .post-content-title h3 { margin-bottom: 0.75rem; }

.post-content-list .popup-youtube .hyperlink { color: #2cc4ec; }

.post-content-list .popup-youtube:hover .hyperlink { color: #2cc4ec; text-decoration: underline; }

.hyperlink span::after { content: ""; background-image: url("../../images/icons/streamline-icon-arrow-right-1@24x24.svg"); background-repeat: no-repeat; background-position: right center; display: inline-block; width: 5px; height: 8px; padding-left: 15px; }

.check-list ul li, .check-list-white ul li, .blue-check-list ul li, .dot-list ul li, .list1 ul li { font-family: 'Open Sans', sans-serif; }

.title-desc.has-h3 h3 { color: #233659; }

.ct-understand-wrap .title-desc.has-paragraph-body p { font-family: "neue-haas-grotesk-text"; font-size: 24px; line-height: 30px; font-weight: 400; font-style: normal; color: #2CC4EC; }

.ct-understand-wrap .title1-desc.has-h2 h2 { font-weight: 700; color: #ffffff; }

.ct-understand-wrap .title1-desc.has-h3 h3 { font-weight: 400; color: #ffffff; }

.ct-understand-wrap .title1-desc.has-paragraph-body p { color: #ffffff; }

.ct-understand-wrap .title-curve { opacity: 0.2; }

.ct-understand-wrap .post-content-list .post-content-thumb-img img { background-color: #223657; padding: 8px; }

.ct-understand-wrap .post-content-list .post-content-title h3 { color: #8CC63F; }

.ct-understand-wrap .post-content-list .post-content-title p { color: #ffffff; }

.stay-connected-wrap { position: relative; z-index: 1; }

.stay-connected-wrap::after { content: ""; background-color: #233659; width: 100%; display: inline-block; z-index: -1; height: 25px; position: absolute; bottom: 0; left: 0; right: 0; }

.title-gradient { text-transform: uppercase; color: #ffffff; display: inline-block; padding: 10px 15px; }

.title-gradient h2 { font-weight: 700; margin-bottom: 0rem; }

.business-under-attack .attack-icon-bg { position: relative; z-index: 1; }

.business-under-attack .attack-icon-bg::before { content: ""; background-image: url(../../images/icons/chat-big-icon.svg); background-repeat: no-repeat; background-position: left top; display: inline-block; width: 100px; height: 92px; position: absolute; left: -50px; top: -45px; z-index: -1; }

.bank-logo ul { margin: 0 -20px; }

.bank-logo ul li { list-style: none; float: left; width: calc(100%/5); padding: 0 20px; }

.bank-logo img { width: auto; }

@media (min-width: 992px) { .ct-managers-wrap .col-lg-3 { flex: 0 0 20%; max-width: 20%; } }

@media (min-width: 1200px) { .container { max-width: 1320px; } }

@media (max-width: 992px) { .bank-logo ul li { width: calc(100%/3); } }

@media (max-width: 767px) { .post-block .card-deck { display: flex; flex-direction: column; }
  .ct-understand-wrap .post-content-list .post-content-thumb-img img { width: 140px; } }

/*IE Only CSS */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .post-block .card-deck .card .card-footer .post-clock { display: block !important; }
  .odd-even-wrap .odd-block .odd-left.d-flex { display: block !important; padding-top: 8%; } }

/* ======================================== MAC OS Only CSS ======================================== */

@keyframes bubble-ripple { 0% {
    transform: scale(1.4);
    opacity: .55;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; }
  25% {
    transform: scale(1.4);
    opacity: 0.55;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; }
  100% {
    transform: scale(1.8);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; } }
/*# sourceMappingURL=CITNigerialandingpage.css.map */