.oxford-blue-bg {
    background-color: #000C30;
}

.oxford-blue-text {
    color: #000C30;
}

.iron-light-bg {
    background-color: #F4F9FF;
}

.form-group {
    margin-bottom: 0.7rem;
}

.form-label {
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    color: #17191D;
    margin-bottom: 0.2rem;
}

.form-req-text {
    font-size: 10px;
    color: #D4D9E2;
    display: inline-block;
}

.form-control {
    height: calc(1.5em + 0.75rem + 7px);
    border: 2px solid #D4D9E2;
    color: #D4D9E2;
    font-size: 14px;
}

.form-control-lg {
    height: calc(1.5em + 0.75rem + 27px);
}

.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #D4D9E2;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #D4D9E2;
}

.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #D4D9E2;
}

.form-control:focus {
    color: #4A4E57;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #2CC4EC;
}

.home-rebuild-banner {
    .main-title-desc {
        &.display-1 {
            h1 {
                margin-bottom: 0;
            }
        }
        &.has-paragraph-body2 {
            p {
                color: #ffffff;
                line-height: 32px;
                margin-bottom: 0;
            }
        }
    }
    .banner-left {
        .banner-buttons {
            .btn {
                &.medium {
                    max-width: 202px;
                    min-width: initial;
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-height: calc(100% - 17px);
                }
            }
        }
    }
    .banner-right {
        position: relative;
        margin-bottom: -150px;
        z-index: 2;
        .banner-right-img {
            min-height: 650px;
        }
    }
    .home-new-banner-animation {
        height: 635px;
    }
}

#typewriteText {
    color: #ffffff;
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    display: inline-block;
}

.typewriteSelected {
    background: -moz-linear-gradient(0deg, #8CC63F 0%, #2CC4EC 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #8CC63F), color-stop(100%, #2CC4EC));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(0deg, #8CC63F 0%, #2CC4EC 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, #8CC63F 0%, #2CC4EC 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, #8CC63F 0%, #2CC4EC 100%);
    /* ie10+ */
    background: linear-gradient(90deg, #8CC63F 0%, #2CC4EC 100%);
    /* w3c */
    /* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#8CC63F', endColorstr='#2CC4EC', GradientType=1);*/
    /* ie6-9 */
    color: #ffffff;
}

#typewriteText span {
    display: initial;
}

.title-tag {
    font-size: 14px;
    font-weight: 500;
    border: 2px solid #8CC63F;
    border-radius: 40px;
    padding: 5px 15px 3px;
    display: inline-block;
    line-height: 1em;
    text-transform: uppercase;
}

.title-tag-blue {
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #000C30;
    border-radius: 40px;
    padding: 10px 15px 8px;
    display: inline-block;
    line-height: 1em;
    text-transform: uppercase;
}

.drive-conversion-form {
    .main-title-desc {
        &.has-h2 {
            h2 {
                color: #ffffff;
                margin-bottom: 0;
            }
        }
    }
    .form-control {
        height: calc(1.5em + 0.75rem + 21px);
        color: #4A4E57;
        border: 1px solid #000C30;
        &:focus {
            border-color: #000C30;
            color: #000C30;
        }
    }
}

.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #4A4E57;
}

.form-control::-webkit-input-placeholder:focus {
    /* Chrome/Opera/Safari */
    color: #000C30;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #4A4E57;
}

.form-control::-moz-placeholder:focus {
    /* Firefox 19+ */
    color: #000C30;
}

.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #4A4E57;
}

.form-control:-ms-input-placeholder:focus {
    /* IE 10+ */
    color: #000C30;
}

.post-content-list {
    padding: 0 0 40px 0px;
    .post-content-thumb-img {
        margin-bottom: 30px;
    }
    .post-content-img {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 260px;
        height: 100%;
        margin-bottom: 30px;
        &.large {
            min-height: 438px;
        }
        &.small {
            min-height: 180px;
        }
    }
    .post-content-title {
        margin-bottom: 0.75rem;
        a {
            font-weight: 500;
            font-style: normal;
            font-size: 20px;
            line-height: 25px;
            color: #17191d;
        }
        h2 {
            font-weight: 700;
            font-style: normal;
            font-size: 28px;
            line-height: 36px;
            color: #000C30;
        }
        h3 {
            font-weight: 500;
            font-style: normal;
            font-size: 20px;
            line-height: 25px;
            color: #17191d;
        }
    }
    .post-content-text {
        margin-bottom: 20px;
    }
}

.chat-represent-wrap {
    .post-content-list {
        .post-content-title {
            max-width: 260px;
            margin: 0 auto;
        }
    }
}

.feature-box {
    padding: 35px 20px;
    border-radius: 25px;
    border: 1px solid #C8F0F9;
    height: 100%;
}

.about-going-wrap {
    .feature-box {
        &:hover {
            box-shadow: 0 1px 15px 3px rgba(0, 0, 0, 0.10%);
            cursor: pointer;
            transition: all 450ms ease-in-out;
            -webkit-transition: all 450ms ease-in-out;
            -moz-transition: all 450ms ease-in-out;
            -o-transition: all 450ms ease-in-out;
        }
        .hyperlink {
            margin-top: auto;
        }
    }
}

.customer-exp-wrap {
    padding: 0 0 60px 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 65px;
        background-color: #F4F9FF;
        z-index: -1;
    }
    .title-desc {
        &.has-h2 {
            h2 {
                color: #ffffff;
                span {
                    padding: 5px 0;
                }
            }
        }
    }
}

.cust-exp-slider {
    &.owl-theme {
        .owl-nav {
            button.owl-prev {
                position: absolute;
                left: auto;
                right: 72%;
                top: 50%;
                margin-top: -32px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
                -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
                -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
                -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
                background-color: #ffffff;
                border-radius: 50%;
                width: 64px;
                height: 64px;
                outline: none;
                span {
                    font-size: 0px;
                    background-image: url(../../images/icons/streamline-icon-arrow-left-3@24x24.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                    display: inline-block;
                    width: 18px;
                    height: 29px;
                    line-height: 25px;
                }
                &:hover {
                    background-color: #2FC4E6;
                }
                &:hover span {
                    background-image: url(../../images/icons/streamline-icon-arrow-left-w-3@24x24.svg);
                }
            }
            button.owl-next {
                position: absolute;
                right: auto;
                left: 72%;
                top: 50%;
                margin-top: -32px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
                -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
                -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
                -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
                background-color: #ffffff;
                border-radius: 50%;
                width: 64px;
                height: 64px;
                outline: none;
                span {
                    font-size: 0px;
                    background-image: url(../../images/icons/streamline-icon-arrow-right-3@24x24.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                    display: inline-block;
                    width: 18px;
                    height: 29px;
                    line-height: 25px;
                }
                &:hover {
                    background-color: #2FC4E6;
                }
                &:hover span {
                    background-image: url(../../images/icons/streamline-icon-arrow-right-w-3@24x24.svg);
                }
            }
        }
    }
}

.cust-exp-slide {
    background-color: #001966;
    -webkit-box-shadow: 0 .2rem 0.40rem rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 .2rem 0.40rem rgba(0, 0, 0, 0.16);
    box-shadow: 0 .2rem 0.40rem rgba(0, 0, 0, 0.16);
    border-radius: 26px;
    padding: 70px;
    height: 100%;
    .cust-exp-img {
        img {
            width: auto;
        }
    }
    .title1-desc {
        &.has-paragraph-body2 {
            p {
                color: #ffffff;
            }
        }
    }
    .cust-name {
        font-size: 16px;
        font-weight: 500;
    }
}

.full-consumer-wrap {
    overflow: hidden;
    .main-title-desc {
        &.has-h2 {
            h2 {
                color: #ffffff;
            }
        }
        &.has-paragraph-body2 {
            p {
                color: #ffffff;
            }
        }
    }
}

.life-cycle-code {
    display: flex;
    list-style-type: none;
    will-change: transform;
    transform: translateZ(0);
    margin-bottom: 40px;
    li {
        max-width: 390px;
        width: 100%;
        padding-right: 70px;
        flex-shrink: 0;
        display: flex;
        .life-cycle-bubble {
            border-bottom-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            display: block;
            transition: all 0.2s ease-in-out;
            will-change: transform, box-shadow, border-color;
            background-color: #001966;
            width: 100%;
            cursor: default;
            // .life-cycle-bubble:hover {
            //     transform: translateY(-4px);
            //     box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
            // }
        }
    }
}

// .life-cycle-code-wrap {
//     &:hover ul {
//         -webkit-animation-play-state: paused;
//         animation-play-state: paused;
//     }
// }
.life-cycle-code:first-of-type {
    transform: translateX(-100px);
    -webkit-animation: moveCodeSamplesLeft 37s linear infinite;
    animation: moveCodeSamplesLeft 37s linear infinite;
}

.life-cycle-code:nth-of-type(2) {
    justify-content: flex-end;
    transform: translateX(50px);
    -webkit-animation: moveCodeSamplesRight 40s linear infinite;
    animation: moveCodeSamplesRight 40s linear infinite;
    margin-bottom: 0px;
}

.life-cycle-cont {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.life-cycle-img {
    display: table-cell;
    vertical-align: middle;
    img {
        max-width: initial;
        height: 51px;
        margin-left: -25px;
        position: relative;
    }
}

.life-cycle-text {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 15px;
    strong {
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
        line-height: 24px;
        color: #ffffff;
    }
    p {
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 22px;
        color: #ffffff;
        margin-bottom: 0;
    }
}

.platform-box {
    background-color: #ffffff;
    border: 1px solid #EFEFEF;
    padding: 25px;
    border-radius: 25px;
    height: 100%;
}

.platform-box-wrap {
    position: relative;
    .platform-box-animation {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }
    .platform-box-block {
        padding-top: 80px;
        .platform-box {
            max-width: 380px;
            width: 100%;
            margin: 0 auto;
            z-index: 1;
            position: relative;
            margin-bottom: 50px;
            .title-tag-blue {
                position: absolute;
                top: -20px;
                left: 25px;
                right: auto;
                background-color: #ffffff;
            }
            .title1-desc {
                &.has-paragraph-body2 {
                    p {
                        color: #000C30;
                    }
                }
            }
            .hyperlink2 {
                span {
                    display: inline-block;
                    margin: 0 5px;
                }
            }
        }
    }
}

.customer-retention-wrap {
    .ct-retention-btn {
        .btn {
            padding: 11px 20px;
        }
    }
}


/* LOGO SLIDER BLOCK CSS */

.owl-carousel.logo-slider {
    .owl-stage-outer {
        .owl-stage {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            .owl-item {
                text-align: center;
                padding: 0 15px;
                img {
                    width: 180px;
                    display: inline-block;
                }
            }
        }
    }
    .owl-nav {
        margin-top: 40px;
        button.owl-prev,
        button.owl-next {
            background-color: #000C30;
            color: #ffffff;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-box-border-radius: 50%;
            -o-border-radius: 50%;
            width: 36px;
            height: 36px;
            outline: none;
        }
        button.owl-prev {
            span {
                font-size: 0px;
                background-image: url(../../images/icons/streamline-icon-arrow-left-w-3@24x24.svg);
                background-repeat: no-repeat;
                background-position: center center;
                display: inline-block;
                width: 10px;
                height: 15px;
                line-height: 25px;
            }
            &:hover {
                background-color: #2FC4E6;
            }
        }
        button.owl-next {
            span {
                font-size: 0px;
                background-image: url(../../images/icons/streamline-icon-arrow-right-w-3@24x24.svg);
                background-repeat: no-repeat;
                background-position: center center;
                display: inline-block;
                width: 10px;
                height: 15px;
                line-height: 25px;
            }
            &:hover {
                background-color: #2FC4E6;
            }
        }
    }
}

.companies-logo {
    img {
        max-height: 50px;
        object-fit: contain;
        width: 180px;
    }
}

@media (min-width: 768px) {
    .chat-com-desktop {
        min-height: 360px;
    }
}

@media (min-width: 992px) {
    .home-rebuild-banner {
        .banner-left {
            .banner-buttons {
                .btn {
                    &.medium {
                        height: 100%;
                    }
                }
            }
        }
    }
    .about-going-wrap {
        .feature-box {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .full-consumer-wrap {
        .main-title-desc {
            max-width: 1210px;
            width: 100%;
            margin: 0 auto;
        }
    }
}

@media (min-width: 1024px) {
    .cust-exp-slider {
        &.owl-theme {
            .owl-nav {
                display: block;
            }
        }
    }
}

@media (min-width: 1366px) {
    .chat-com-desktop {
        min-height: 512px;
    }
}

@media (max-width: 1440px) {
    .cust-exp-slider {
        &.owl-theme {
            .owl-nav {
                button.owl-prev {
                    right: 71%;
                }
                button.owl-next {
                    left: 71%;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .home-rebuild-banner {
        .banner-right {
            .banner-right-img {
                min-height: 605px;
            }
        }
        .home-new-banner-animation {
            height: 610px;
        }
    }
    .cust-exp-slider {
        &.owl-theme {
            .owl-nav {
                button.owl-prev {
                    right: 70%;
                }
                button.owl-next {
                    left: 70%;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .home-rebuild-banner {
        .banner-right {
            margin-bottom: -123px;
            .banner-right-img {
                min-height: 500px;
            }
        }
        .home-new-banner-animation {
            height: 500px;
        }
    }
    .feature-box {
        padding: 30px;
    }
    .about-going-wrap {
        .feature-box {
            height: calc(100% - 40px);
            margin-bottom: 40px;
        }
        &.section-py {
            padding-bottom: 10px;
        }
    }
    .contentarea {
        margin-top: 60px;
    }
}

@media (max-width: 768px) {
    .customer-exp-wrap {
        .cust-exp-slider {
            padding: 0 40px;
        }
    }
}

@media only screen and (max-device-width: 768px) and (orientation: landscape) {
    .home-rebuild-banner {
        .banner-right {
            margin-bottom: -125px;
        }
    }
}

@media (max-width: 767px) {
    .contentarea {
        margin-top: 133px;
    }
    .chat-com-mob {
        min-height: 220px;
    }
    #typewriteText {
        font-size: 34px;
        line-height: 44px;
    }
    .post-content-list {
        .post-content-img {
            &.large {
                min-height: 260px;
            }
        }
    }
    .customer-exp-wrap {
        .title-desc {
            &.has-h2 {
                h2 {
                    line-height: 45px;
                }
            }
        }
    }
    .platform-box-wrap {
        .platform-box-animation {
            display: none;
        }
        .platform-box-block {
            .platform-box:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    .customer-exp-wrap {
        .cust-exp-slider {
            padding: 0 15px;
        }
    }
    .cust-exp-slide {
        padding: 40px;
    }
    .drive-conversion-form {
        .main-title-desc {
            text-align: center;
        }
    }
    .about-going-wrap {
        .feature-box {
            .hyperlink {
                a {
                    &::after {
                        content: "";
                        display: none;
                    }
                }
            }
        }
    }
}

@media only screen and (max-device-width: 768px) and (orientation: landscape) {
    .contentarea {
        margin-top: 133px;
    }
}

@media (max-width: 576px) {
    .drive-conversion-form {
        .input-group {
            display: block;
        }
        .input-group>.form-control {
            width: 100%;
            border-radius: 0.25rem;
            margin-bottom: 20px;
        }
        .input-group>.input-group-append {
            margin-left: 0px;
        }
        .input-group>.input-group-append>.btn {
            border-radius: 6px;
            width: 100%;
        }
    }
}

@media (max-width: 480px) {
    .home-rebuild-banner {
        .banner-right {
            margin-bottom: -130px;
        }
    }
}

@media (max-width: 380px) {
    .home-rebuild-banner {
        .banner-right {
            margin-bottom: -145px;
        }
    }
}

@media (max-width: 320px) {
    .home-rebuild-banner {
        .banner-right {
            margin-bottom: -172px;
        }
    }
}


/*IE Only CSS */

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    #home_rebuild_banner {
        height: auto;
        svg {
            width: 100% !important;
            height: 700px !important;
        }
    }
}


/* ========================================
   MAC OS Only CSS
   ======================================== */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @media (min-width: 992px) {}
}

@-webkit-keyframes moveCodeSamplesLeft {
    to {
        transform: translateX(-2050px);
    }
}

@keyframes moveCodeSamplesLeft {
    to {
        transform: translateX(-2050px);
    }
}

@-webkit-keyframes moveCodeSamplesRight {
    to {
        transform: translateX(2050px);
    }
}

@keyframes moveCodeSamplesRight {
    to {
        transform: translateX(2050px);
    }
}