.hbspt-form .hs-main-font-element h1 {
    font-size: 24px;
    line-height: 30px;
    color: #000C30;
    font-weight: 500;
}

.hbspt-form .hs-main-font-element h1 i {
    margin-right: 15px;
}

.hs-custom-style .hs-input,
.hs-custom-style fieldset {
    width: 100%;
}

.hbspt-form .hs-field-desc {
    font-size: 10px;
    color: #CECECE;
    display: inline-block;
    text-align: right;
}

.hbspt-form .input {
    margin-bottom: 0.7rem;
}

.hbspt-form .hs-input {
    height: calc(1.5em + 0.75rem + 17px);
    border: 2px solid #D4D9E2;
    color: #CECECE;
    font-size: 14px;
    border-radius: .25rem;
}

.hbspt-form textarea.hs-input {
    padding: 10px;
}

.hbspt-form input[type="radio"],
.hbspt-form input[type="checkbox"] {
    height: auto;
}

.hbspt-form .hs-input:focus {
    color: #4A4E57;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #2CC4EC;
    outline: none;
}

.hbspt-form input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: none;
    outline: none;
}

.hbspt-form .hs-form-field {
    position: relative;
}

.hbspt-form .hs-form-field .hs-field-desc {
    font-size: 10px;
    color: #CECECE;
    display: inline-block;
    text-align: right;
    position: absolute;
    top: 0;
    right: 10px;
    left: auto;
}

.hbspt-form .hs_message {
    position: relative;
}

.hbspt-form .hs_message .hs-field-desc {
    font-size: 10px;
    color: #CECECE;
    display: inline-block;
    text-align: right;
    position: absolute;
    top: 0;
    right: 10px;
    left: auto;
}

.hbspt-form .no-list.hs-error-msgs {
    margin-top: -0.4rem;
}

.hbspt-form .hs-error-msg {
    color: #dc3545;
    font-size: 85%;
    font-weight: 400;
}

.hbspt-form .hs-input.error {
    border-color: #dc3545;
}

.hbspt-form select.hs-input option {
    color: #17191D;
}

.hbspt-form label {
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    color: #4A4E57;
    margin-bottom: 0.2rem;
}

.hbspt-form label .hs-form-required {
    color: #dc3545;
    display: none;
}

.hbspt-form textarea {
    height: auto !important;
    min-height: 100px;
}

.hbspt-form .hs-form-booleancheckbox-display .hs-input[type="checkbox"]:not(:checked),
.hbspt-form .hs-form-booleancheckbox-display .hs-input[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

.hbspt-form .hs-form-booleancheckbox-display .hs-input[type="checkbox"]:not(:checked)+span,
.hbspt-form .hs-form-booleancheckbox-display .hs-input[type="checkbox"]:checked+span {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    color: #4A4E57;
    font-weight: 400;
    display: inline-block;
}

.hbspt-form .hs-form-booleancheckbox-display .hs-input[type="checkbox"]:not(:checked)+span:before,
.hbspt-form .hs-form-booleancheckbox-display .hs-input[type="checkbox"]:checked+span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    width: 16px;
    height: 16px;
    border: 1px solid #000C30;
    border-radius: 3px;
}

.hbspt-form .hs-form-booleancheckbox-display .hs-input[type="checkbox"]:not(:checked)+span:after,
.hbspt-form .hs-form-booleancheckbox-display .hs-input[type="checkbox"]:checked+span:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    margin: auto;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border: 1px solid #000C30;
    -webkit-transition: all .2s;
    transition: all .2s;
    border-radius: 3px;
    color: #ffffff;
}

.hbspt-form .hs-form-booleancheckbox-display .hs-input[type="checkbox"]:checked+span:after {
    content: "";
    background: url('../../images/icons/checkmark-blue.svg') no-repeat center center;
    display: block;
    text-align: center;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border-radius: 3px
}

.hbspt-form .hs-form-booleancheckbox-display .hs-input[type="checkbox"]:not(:checked)+span:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.hbspt-form .inputs-list li {
    padding-left: 0px;
    margin-bottom: 0px;
    display: block;
    overflow-wrap: break-word;
}

.hbspt-form .inputs-list li:before {
    content: "";
    display: none;
}

.hbspt-form .inputs-list li .hs-main-font-element {
    color: #dc3545;
    font-size: 85%;
    font-weight: 400;
}

.hbspt-form .hs-button {
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: normal;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-border-radius: 6px;
    -o-border-radius: 6px;
    border: 0px;
    margin: 0;
    padding: 10px 12px;
    transition: all 450ms ease-in-out;
    -webkit-transition: all 450ms ease-in-out;
    -moz-transition: all 450ms ease-in-out;
    -o-transition: all 450ms ease-in-out;
    cursor: pointer;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    white-space: normal;
    word-wrap: break-word;
    box-shadow: none;
    text-decoration: none;
}

.hbspt-form .hs-button.large {
    min-width: 202px;
}

.hbspt-form .hs-button.primary {
    background-color: #2FC4E6;
    color: #ffffff;
    padding: 18px 20px;
    -webkit-box-shadow: 0 9px 6px -6px rgba(47, 196, 230, 0.47);
    box-shadow: 0 9px 6px -6px rgba(47, 196, 230, 0.47);
}

.hbspt-form .hs-button.primary:hover {
    background-color: #52CEEF;
    border-color: #52CEEF;
}

.hbspt-form .hs-button.primary:focus {
    background-color: #2FC4E6;
    border-color: #52CEEF;
}

.hbspt-form .hs_submit.hs-submit {
    padding-top: 15px;
    text-align: center;
}

.hbspt-form fieldset.form-columns-1 .input,
.hbspt-form fieldset.form-columns-2 .input {
    margin-left: 8px;
}

.hbspt-form fieldset.form-columns-1 label,
.hbspt-form fieldset.form-columns-2 label {
    margin-left: 8px;
}

.legal-consent-container .field.hs-form-field {
    text-align: center;
}

.legal-consent-container .hs-form-booleancheckbox-display>span {
    margin-left: 0px !important;
}

.legal-consent-container .hs-form-booleancheckbox-display p {
    text-align: left;
    display: table-cell !important;
}

.legal-consent-container .inputs-list .hs-form-booleancheckbox-display span>span.hs-form-required {
    display: table-cell !important;
}

.legal-consent-container .hs-form-booleancheckbox-display p a {
    text-decoration: underline;
}

.hbspt-form .legal-consent-container .inputs-list .hs-form-booleancheckbox label..hs-form-booleancheckbox-display {
    margin-bottom: 0;
    margin-left: 0;
}

.legal-consent-container .hs-form-booleancheckbox-display p a:hover {
    text-decoration: none;
    color: #2FC4E6;
}

.hs_recaptcha {
    margin: 15px auto;
}

.hs_recaptcha .grecaptcha-badge {
    text-align: center;
    margin: 0 auto;
}

.hs_error_rollup {
    text-align: center;
}

@media (max-width: 992px) {
    .hbspt-form fieldset.form-columns-2 .hs-form-field {
        width: 100% !important;
    }
}