@charset "UTF-8";
.oxford-blue-bg { background-color: #000C30; }

.oxford-blue-text { color: #000C30; }

.iron-light-bg { background-color: #F4F9FF; }

.iron-dark-bg { background-color: #232425; }

.shadowline { box-shadow: 0 0px 8px 4px rgba(0, 0, 0, 0.075); }

.m30 { margin-bottom: 30px; }

.box-rounded { border-radius: 25px; }

.facebook-brands-grey { background: url("../../images/social-icons/facebook-brands-grey.svg"); background-position: top; background-repeat: no-repeat; background-size: 100%; display: inline-block; width: 10px; height: 18px; transition: all 450ms ease-in-out; }

.facebook-brands-grey:hover { background-position: bottom; }

.twitter-brands-grey { background: url("../../images/social-icons/twitter-brands-grey.svg"); background-position: top; background-repeat: no-repeat; background-size: 100%; display: inline-block; width: 18px; height: 15px; transition: all 450ms ease-in-out; }

.twitter-brands-grey:hover { background-position: bottom; }

.linkedin-brands-grey { background: url("../../images/social-icons/linkedin-brands-grey.svg"); background-position: top; background-repeat: no-repeat; background-size: 100%; display: inline-block; width: 18px; height: 18px; transition: all 450ms ease-in-out; }

.linkedin-brands-grey:hover { background-position: bottom; }

.youtube-play-brands-grey { background: url("../../images/social-icons/youtube-play-brands-grey.svg"); background-position: top; background-repeat: no-repeat; background-size: 100%; display: inline-block; width: 18px; height: 13px; transition: all 450ms ease-in-out; }

.youtube-play-brands-grey:hover { background-position: bottom; }

.social-media.grey ul li { margin: 0 15px; }

.social-media.grey ul li a { font-size: 20px; width: auto; height: auto; border: 0px; border-radius: 0px; color: #4A4E57; background-color: transparent; }

.social-media.grey ul li a:hover { color: #2FC4E6; background-color: transparent; }

.social-media.grey ul li:last-child { margin-right: 0px; }

.social-media-icon.grey ul li { display: inline-block; margin: 0 15px; }

.social-media-icon.grey ul li:last-child { margin-right: 0px; }

.breadcrumb { background-color: transparent; padding: 1rem 0rem; margin-bottom: 0rem; }

.breadcrumb .breadcrumb-item { font-size: 16px; font-weight: 500; color: #2FC4E6; }

.breadcrumb .breadcrumb-item a { color: #2FC4E6; }

.breadcrumb .breadcrumb-item a:hover { text-decoration: underline; }

.breadcrumb .breadcrumb-item + .breadcrumb-item::before { content: ""; background-image: url(../../images/icons/arrow-right-light-blue.svg); background-repeat: no-repeat; background-position: left center; display: inline-block; width: 4px; height: 10px; margin-right: 0.5rem; }

.breadcrumb .breadcrumb-item.active { font-weight: 500; }

.hyperlink { font-size: 16px; font-weight: 500; }

.hyperlink span::after { content: ""; background-image: url("../../images/icons/arrow-right-light-blue.svg"); background-repeat: no-repeat; background-position: right center; display: inline-block; width: 5px; height: 10px; padding-left: 15px; vertical-align: middle; }

.hyperlink:hover, .hyperlink:hover span { color: #52CEEF; text-decoration: underline; }

.hyperlink:active span, .hyperlink:focus span { color: #2CC4EC; text-decoration: underline; }

.hyperlink.disabled span { color: #D4D9E2; text-decoration: none; }

.hyperlink.disabled span::after { content: ""; background-image: url("../../images/icons/arrow-right-light-grey.svg"); }

.hero-banner-content { padding: 50px 0; }

.hero-banner-content .body1 { line-height: 20px; }

.hero-banner-content .social-media.grey ul li:first-child { margin-left: 0px; }

.hero-banner-content .social-media-icon.grey ul li:first-child { margin-left: 0px; }

.dot-list ul { padding-left: 20px; }

.dot-list ul li { display: block; list-style: none; margin-bottom: 5px; font-size: 16px; line-height: 20px; color: #4A4E57; }

.dot-list ul li::before { content: "•"; color: #2FC4E6; display: inline-block; width: 0.90em; margin-left: -0.90em; font-size: 28px; font-weight: bold; vertical-align: middle; padding-left: 5px; }

.card-blog-post { box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1); position: relative; background-color: #ffffff; overflow: hidden; /*&:hover img{ transform: scale(1.2); -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -o-transform: scale(1.2); -ms-transform: scale(1.2); }*/ }

.card-blog-post .btn { padding: 10px 20px; box-shadow: none; }

.card-blog-post .btn.hyperlink span::after { content: ""; background-image: url("../../images/icons/streamline-icon-arrow-next-w@24x24.svg"); background-repeat: no-repeat; background-position: right center; display: inline-block; width: 5px; height: 10px; padding-left: 15px; vertical-align: middle; }

.card-blog-post .btn.hyperlink:hover, .card-blog-post .btn.hyperlink:hover span { color: #ffffff; text-decoration: none; }

.card-blog-post .btn.hyperlink:active span, .card-blog-post .btn.hyperlink:focus span { color: #ffffff; text-decoration: none; }

.card-blog-post .btn.hyperlink.disabled span { background-color: #D4D9E2; color: #ffffff; text-decoration: none; }

.card-blog-post-image { height: 220px; position: relative; overflow: hidden; }

.card-blog-post-image.large { height: 440px; }

.card-blog-post-image img { position: absolute; height: 100%; width: 100%; top: 0; left: 0; object-fit: fill; transition: all .5s ease 0s; /*&:hover{ transform: scale(1.2); -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -o-transform: scale(1.2); -ms-transform: scale(1.2); }*/ }

.card-blog-post-image .play-btn span img { position: static; }

.card-blog-post-image .play-btn span img:hover { transform: scale(1); }

.card-blog-post-content { padding: 25px 20px; }

.category-name { margin-bottom: 5px; }

.category-name a { font-size: 16px; font-weight: 500; line-height: 20px; color: #8CC63F; }

.card-blog-post-title { margin-bottom: 5px; }

.card-blog-post-title a { font-weight: 700; font-style: normal; font-size: 20px; line-height: 28px; color: #000C30; }

.card-blog-post-title.large a { font-size: 28px; line-height: 36px; }

.card-blog-post-text p { font-size: 16px; line-height: 24px; color: #4A4E57; }

.card-blog-post-text.large { padding-bottom: 10px; }

.card-blog-post-text.large p { font-size: 20px; }

.category-cont .card-blog-post { margin: 30px 0px; }

/***MagnificPopup***/
.mfp-bg { z-index: 1051; }

.mfp-wrap { z-index: 1052; }

button.mfp-close { outline: none; }

.resources-content-wrap { padding: 0 0 60px 0; position: relative; }

.resources-content-wrap::after { content: ""; position: absolute; top: 0; left: 0; right: 0; height: 40px; width: 100%; background-color: #F4F9FF; z-index: -1; }

.resources-content-wrap .ct-video { max-width: 800px; margin: 0 auto; height: 450px; position: relative; }

.resources-content-wrap .ct-video .video-img { position: absolute; height: 100%; width: 100%; top: 0; left: 0; object-fit: fill; transition: all .5s ease 0s; image-rendering: -webkit-optimize-contrast; image-rendering: crisp-edges; }

.resources-content-wrap .infographics-cont { max-width: 800px; margin: 0 auto; }

.ct-video { position: relative; height: 100%; }

.ct-video .popup-youtube { display: block; }

.play-btn { position: absolute; left: 50%; top: 50%; margin-left: -36px; margin-top: -36px; z-index: 5; cursor: pointer; text-align: center; }

.play-btn span { width: 72px; height: 72px; line-height: 72px; text-align: center; display: block; position: relative; }

.play-btn span::before { content: ""; position: absolute; top: 0; left: -6px; right: 0; width: 72px; height: 72px; background-color: rgba(44, 196, 236, 0.8); border-radius: 50%; display: inline-block; z-index: -1; animation: 1.5s ease 0s normal none infinite running bubble-ripple; }

.play-btn span:after { content: ""; position: absolute; top: 0; left: -6px; right: 0; width: 72px; height: 72px; background-color: rgba(44, 196, 236, 0.8); border-radius: 50%; display: inline-block; z-index: -1; }

.play-btn span img { margin-left: -3px; width: 26px; height: 30px; }

.most-popular-posts { padding: 60px 0 35px; }

.infographics-cont { position: relative; transition: all .5s ease-in-out; }

.infographics-cont .btn { padding: 10px 20px; }

.infographics-cont .hyperlink2 a { text-decoration: none; }

.infographics-cont .hyperlink2 a:hover, .infographics-cont .hyperlink2 a:focus { text-decoration: none; }

.infographics-view { height: 1035px; display: block; overflow: hidden; position: relative; }

.infographics-view:before { content: ""; position: absolute; left: 0; right: 0; bottom: 0; width: 100%; height: 405px; z-index: 1; /* ff 3.6+ */ /* safari 5.1+,chrome 10+ */ /* opera 11.10+ */ background: -o-linear-gradient(0deg, rgba(255, 255, 255, 0.4) 0%, rgba(130, 130, 130, 0.4) 35%, rgba(255, 255, 255, 0.1) 100%); /* ie 6-9 */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=1 ); /* ie 10+ */ /* global 94%+ browsers support */ background: linear-gradient(0deg, rgba(255, 255, 255, 0.4) 0%, rgba(130, 130, 130, 0.4) 35%, rgba(255, 255, 255, 0.1) 100%); }

.infographics-view.open:before { background: none; }

.btn-overflow { font-weight: 700; display: none; text-decoration: none; }

/*Responsive Design css */
@media (min-width: 1440px) { .category-cont { margin: 0 -25px; }
  .category-cont .post-box { padding: 0 25px; } }

@media (min-width: 992px) { .hero-banner-content { max-width: 810px; margin: 0 auto; } }

@media (min-width: 768px) { .category-cont .card-blog-post { min-height: calc(100% - 60px); }
  .category-cont .card-blog-post .card-blog-post-content { padding: 25px 20px; display: flex; flex-direction: column; min-height: 100%; } }

@media (min-width: 768px) and (max-width: 992px) { .hero-banner-content { padding: 40px 30px; } }

@media (max-width: 767px) { .card-blog-post-image.large { height: 340px; }
  .card-blog-post-title.large a { font-size: 20px; line-height: 28px; }
  .card-blog-post-text.large p { font-size: 16px; }
  .category-cont .card-blog-post { margin: 20px 0px; }
  .most-popular-posts { padding: 40px 0; }
  .resources-content-wrap .ct-video { height: 330px; } }

@media (max-width: 575px) { .card-blog-post-image.large { height: 220px; } }

@media (max-width: 480px) { .resources-content-wrap .ct-video { height: 225px; } }

/*IE Only CSS */
/* ======================================== MAC OS Only CSS ======================================== */

@keyframes bubble-ripple { 0% {
    transform: scale(1.4);
    opacity: .55;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; }
  25% {
    transform: scale(1.4);
    opacity: 0.55;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; }
  100% {
    transform: scale(1.8);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; } }
/*# sourceMappingURL=resources-rebuild-detail-video.css.map */