.post-content-list {
    .post-content-img {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 260px;
        height: 100%;
        margin-bottom: 30px;
        &.large {
            min-height: 438px;
        }
    }
    .post-content-title {
        margin-bottom: 0.75rem;
        a {
            font-weight: 500;
            font-style: normal;
            font-size: 20px;
            line-height: 25px;
            color: #17191d;
        }
    }
    .post-content-text {
        margin-bottom: 20px;
    }
}


/* ODD AND EVEN BLOCK CSS */

.odd-even-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    .even-block {
        width: 50%;
        .even-block-content {
            padding: 0px 60px;
            max-width: 685px;
            width: 100%;
            height: 100%;
        }
    }
    .even-block-banner-img {
        background-repeat: no-repeat;
        background-position: top left;
        background-size: cover;
        min-height: 450px;
        height: 100%;
    }
    .pt-landing-banner {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 570px;
        height: 100%;
    }
    .odd-block {
        width: 50%;
        padding: 0px 100px;
        .odd-left {
            max-width: 450px;
            width: 100%;
            float: right;
        }
    }
}

.latest-feature-prod-wrap {
    position: relative;
    &:before {
        content: "";
        background: -moz-linear-gradient(0deg, #233659 0%, #2CC4EC 100%);
        /* ff3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, #233659), color-stop(100%, #2CC4EC));
        /* safari4+,chrome */
        background: -webkit-linear-gradient(0deg, #233659 0%, #2CC4EC 100%);
        /* safari5.1+,chrome10+ */
        background: -o-linear-gradient(0deg, #233659 0%, #2CC4EC 100%);
        /* opera 11.10+ */
        background: -ms-linear-gradient(0deg, #233659 0%, #2CC4EC 100%);
        /* ie10+ */
        background: linear-gradient(90deg, #233659 0%, #2CC4EC 100%);
        /* w3c */
        // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#233659', endColorstr='#2CC4EC',GradientType=1 ); /* ie6-9 */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100px;
        display: block;
        z-index: -1;
    }
}

@media (min-width: 992px) {
    .odd-even-wrap {
        .odd-block {
            border-bottom: 70px solid #ffffff;
        }
        &.campaign-case-study-wrap {
            padding: 50px 0;
            .odd-block {
                border-bottom: 0px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .odd-even-wrap {
        .odd-block {
            padding: 0px 50px;
        }
    }
}

@media (max-width: 992px) {
    .odd-even-wrap {
        display: block;
        .even-block {
            width: 100%;
            .even-block-content {
                max-width: 100%;
            }
        }
        .even-block.even-block-banner-img {
            min-height: 450px;
        }
        .pt-landing-banner {
            min-height: 450px;
        }
        .odd-block {
            width: 100%;
            padding: 60px 50px;
            .odd-left {
                max-width: 100%;
                float: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .odd-even-wrap {
        .odd-block {
            padding: 60px 40px;
        }
    }
    .even-odd-wrap {
        .even-block {
            padding: 60px 40px;
        }
    }
}

@media (max-width: 767px) {
    .post-content-list {
        .post-content-img {
            &.large {
                min-height: 260px;
            }
        }
    }
    .half-col {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (max-width: 576px) {
    .odd-even-wrap {
        .odd-block {
            padding: 60px 15px;
        }
    }
}


/*IE Only CSS */

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .odd-even-wrap {
        .odd-block {
            .odd-left.d-flex {
                display: block !important;
                padding-top: 15%;
            }
        }
    }
}