.oxford-blue-bg {
    background-color: #000C30;
}

.oxford-blue-text {
    color: #000C30;
}

.iron-light-bg {
    background-color: #F4F9FF;
}

.iron-dark-bg {
    background-color: #232425;
}

.m30 {
    margin-bottom: 30px;
}

.box-rounded {
    border-radius: 25px;
}

.rebuild-banner-wrap {
    .main-title-desc {
        &.display-1 {
            h1 {
                margin-bottom: 0;
            }
        }
        &.has-paragraph-body2 {
            p {
                color: #ffffff;
                line-height: 32px;
                margin-bottom: 0;
            }
        }
    }
    .banner-left {
        .banner-buttons {
            .btn {
                &.medium {
                    width: 100%;
                }
            }
        }
    }
}

.title-tag {
    font-size: 14px;
    font-weight: 500;
    border: 2px solid #8CC63F;
    border-radius: 40px;
    padding: 5px 15px 3px;
    display: inline-block;
    line-height: 1em;
    text-transform: uppercase;
}

.title-tag-blue {
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #000C30;
    border-radius: 40px;
    padding: 10px 15px 8px;
    display: inline-block;
    line-height: 1em;
    text-transform: uppercase;
}

.dot-list {
    ul {
        padding-left: 20px;
        li {
            display: block;
            list-style: none;
            margin-bottom: 10px;
            font-size: 16px;
            line-height: 20px;
            color: #4A4E57;
            &::before {
                content: "•";
                color: #2FC4E6;
                display: inline-block;
                width: 0.90em;
                margin-left: -0.90em;
                font-size: 28px;
                font-weight: bold;
                vertical-align: middle;
                padding-left: 5px;
            }
        }
    }
}

.check-list {
    ul {
        li {
            font-size: 16px;
            line-height: 24px;
            color: #4a4e57;
            display: block;
            list-style: none;
            padding-left: 35px;
            margin-bottom: 15px;
            position: relative;
            &:before {
                content: "";
                background-image: url('../../images/icons/streamline-icon-check-circle-1@24x24.svg');
                background-repeat: no-repeat;
                background-position: center center;
                width: 24px;
                height: 24px;
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

.post-content-list {
    padding: 0 0 40px 0px;
    .post-content-thumb-img {
        margin-bottom: 15px;
    }
    .post-content-img {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 260px;
        height: 100%;
        margin-bottom: 30px;
        &.large {
            min-height: 438px;
        }
        &.small {
            min-height: 180px;
        }
    }
    .post-content-title {
        margin-bottom: 0.75rem;
        a {
            font-weight: 500;
            font-style: normal;
            font-size: 20px;
            line-height: 25px;
            color: #17191d;
        }
        h2 {
            font-weight: 700;
            font-style: normal;
            font-size: 28px;
            line-height: 36px;
            color: #000C30;
        }
        h3 {
            font-weight: 500;
            font-style: normal;
            font-size: 20px;
            line-height: 25px;
            color: #17191d;
        }
    }
    .post-content-text {
        margin-bottom: 20px;
    }
}

.feature-box {
    padding: 25px;
    border-radius: 25px;
    border: 1px solid #EFEFEF;
    height: 100%;
}

.ct-icon-cont-wrap {
    padding: 100px 0 60px;
    position: relative;
    z-index: 1;
    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 380px;
        width: 100%;
        background-color: #ffffff;
        z-index: -1;
    }
    .feature-box{
        padding: 40px;
        .check-list{
            li{
                font-size: 20px;
                line-height: 28px;
                margin-bottom: 20px;
                strong{
                    color: #000C30;
                }
            }
        }
        .btn{
            padding: 10px 15px;
            min-width: auto;
            max-width: 180px;
            width: 100%;
        }
        .btn-secondary-outline {
            border-width: 2px;
            box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.10), 0 6px 8px rgba(0, 0, 0, 0.05);
            -o-box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.10), 0 6px 8px rgba(0, 0, 0, 0.05);
            -webkit-box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.10), 0 6px 8px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.10), 0 6px 8px rgba(0, 0, 0, 0.05);
            &:hover,
            &:focus,
            &.active {
                box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.10), 0 6px 8px rgba(0, 0, 0, 0.05);
                -o-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.10), 0 6px 8px rgba(0, 0, 0, 0.05);
                -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.10), 0 6px 8px rgba(0, 0, 0, 0.05);
                -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.10), 0 6px 8px rgba(0, 0, 0, 0.05);
            }
        }
    }
}

.core-features-wrap {
    padding: 100px 0 60px;
    .feature-box {
        .title1-desc {
            &.has-paragraph-body2 {
                p {
                    color: #000C30;
                }
            }
        }
        .title1-desc {
            &.has-paragraph-body {
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
    .btn{
        padding: 10px 15px;
        min-width: 180px;
    }
}

.why-choose-us{
    padding: 70px 0 30px;
    .title-desc {
        &.has-h2{
            h2{
                color: #ffffff;
            }
        }
    }
}

.aggregator-wrap{
    padding: 75px 0px 30px;
    .title-desc {
        &.has-h3{
            h3{
                color: #000C30;
            }
        }
    }
    .dot-list {
        ul {
            li {
                strong {
                    color: #000C30;
                }
            }
        }
    }
}

.multiple-integration{
    padding: 70px 0 40px;
    .box-rounded {
        border: 1px solid #EFEFEF;
        .title-desc{
            min-height: calc(100% - 24px);
            &.has-h3 {
                h3{
                    color: #000C30;
                    margin-bottom: 0rem;
                }
            }
            &.has-paragraph-body{
                p{
                    margin-top: 10px;
                }
            }
        }
    }
    .btn{
        padding: 10px 15px;
    }
}

.testimonial{
    padding: 20px 0 60px;
    .title1-desc{
        .author-text{
            p{
                color: #17191D;
            }
        }
    }
    .testi-left{
        height: 290px;
        position: relative;
        overflow: hidden;
    }
    .testi-img{
        top: 0;
        bottom: 0;
        height: 100%;
        object-fit: fill;
        object-position: center;
        width: max-content;
        max-width: 100%;
    }
}

/* LOGO SLIDER BLOCK CSS */

.owl-carousel.logo-slider {
    .owl-stage-outer {
        .owl-stage {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            .owl-item {
                text-align: center;
                padding: 0 15px;
                img {
                    width: 180px;
                    display: inline-block;
                }
            }
        }
    }
    .owl-nav {
        margin-top: 40px;
        button.owl-prev,
        button.owl-next {
            background-color: #000C30;
            color: #ffffff;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-box-border-radius: 50%;
            -o-border-radius: 50%;
            width: 36px;
            height: 36px;
            outline: none;
        }
        button.owl-prev {
            span {
                font-size: 0px;
                background-image: url(../../images/icons/streamline-icon-arrow-left-w-3@24x24.svg);
                background-repeat: no-repeat;
                background-position: center center;
                display: inline-block;
                width: 10px;
                height: 15px;
                line-height: 25px;
            }
            &:hover {
                background-color: #2FC4E6;
            }
        }
        button.owl-next {
            span {
                font-size: 0px;
                background-image: url(../../images/icons/streamline-icon-arrow-right-w-3@24x24.svg);
                background-repeat: no-repeat;
                background-position: center center;
                display: inline-block;
                width: 10px;
                height: 15px;
                line-height: 25px;
            }
            &:hover {
                background-color: #2FC4E6;
            }
        }
    }
}

.companies-logo {
    img {
        max-height: 50px;
        object-fit: contain;
        width: 180px;
    }
}

/*Responsive Design css */
@media (min-width: 768px) and (max-width: 992px) {
    .contentarea {
        margin-top: 108px;
    }
}

@media (min-width: 992px) {
    .ct-icon-cont-wrap {
        .post-content-list {
            max-width: 300px;
            margin: 0 auto;
            &.third {
                max-width: 265px;
            }
        }
    }
    .core-features-wrap {
        .feature-box {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    .multiple-inte-title-desc{
        max-width: 710px;
        margin: 0 auto;
    }
    .multiple-integration{
        padding: 70px 0 40px;
        .box-rounded {
            .title-desc{
                &.has-paragraph-body{
                    p{
                        max-width: 345px;
                        width: 100%;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .rebuild-banner-wrap {
        .main-title-desc {
            &.display-1 {
                h1 {
                    max-width: 525px;
                    width: 100%;
                }
            }
        }
    }
    .testimonial{
        .shadow-box{
            max-width: 1080px;
            margin: 0 auto;
        }
    }
}

@media (min-width: 1366px) {
    .rebuild-banner-wrap {
        .banner-right{
            .banner-right-img{
                min-height: 620px;
            }
        }
    }
}

@media (max-width: 992px) {
    .aggregator-wrap{
        padding: 60px 0px 30px;
    }
    .multiple-integration{
        padding: 60px 0 40px;
    }
    .ct-icon-cont-wrap {
        padding: 100px 0 20px;
        .feature-box{
            margin-bottom: 40px;
            height: calc(100% - 40px);
        }
    }
    .testimonial {
        .testi-img{
            height: 290px;
            width: 100%;
        }
    }
}

@media (max-width: 768px) {}


@media (max-width: 767px) {
    .core-features-wrap {
        padding: 60px 0;
    }
    .post-content-list {
        .post-content-img {
            &.large {
                min-height: 260px;
            }
        }
    }
    .testimonial {
        .testi-img{
            height: auto;
        }
    }
}

@media (max-width: 576px) {
    .rebuild-banner-wrap {
        .banner-left {
            .banner-buttons {
                .btn {
                    &.medium {
                        max-width: 202px;
                    }
                }
            }
        }
    }
    .ct-icon-cont-wrap {
        padding: 60px 0 40px;
    }
}



/*IE Only CSS */

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
}


/* ========================================
   MAC OS Only CSS
   ======================================== */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @media (min-width: 992px) {}
}