.sub-banner-wrap { padding-bottom: 130px; }

/***MagnificPopup***/
.mfp-bg { z-index: 1051; }

.mfp-wrap { z-index: 1052; }

.ct-video { position: relative; min-height: 430px; height: 100%; border-radius: 3px; }

.ct-video .popup-youtube { display: block; }

button.mfp-close { outline: none; }

.play-btn { position: absolute; left: 50%; top: 50%; margin-left: -36px; margin-top: -36px; z-index: 5; cursor: pointer; text-align: center; }

.play-btn span { width: 72px; height: 72px; line-height: 72px; text-align: center; display: block; position: relative; }

.play-btn span::before { content: ""; position: absolute; top: 0; left: -6px; right: 0; width: 72px; height: 72px; background-color: rgba(44, 196, 236, 0.8); border-radius: 50%; display: inline-block; z-index: -1; animation: 1.5s ease 0s normal none infinite running bubble-ripple; }

.play-btn span:after { content: ""; position: absolute; top: 0; left: -6px; right: 0; width: 72px; height: 72px; background-color: rgba(44, 196, 236, 0.8); border-radius: 50%; display: inline-block; z-index: -1; }

.play-btn span img { margin-left: -3px; }

.solutions-category-video { position: relative; margin-top: -70px; }

.post-block .card-deck .card { border: 0; border-radius: 0; margin: 15px; }

.post-block .card-deck .card .card-img-top { border-radius: 0; }

.post-block .card-deck .card .card-body .card-title a { font-weight: 500; font-style: normal; font-size: 20px; line-height: 25px; color: #17191d; }

.post-block .card-deck .card .card-footer { background-color: transparent; border-radius: 0; border: 0; }

.post-content-list { padding: 0 0 40px 0px; }

.post-content-list .post-content-title { margin-bottom: 0.75rem; }

.post-content-list .post-content-title a { font-weight: 500; font-style: normal; font-size: 20px; line-height: 25px; color: #17191d; }

.post-content-list .post-content-text { margin-bottom: 20px; }

/* ODD AND EVEN BLOCK CSS */
.odd-even-wrap { display: flex; flex: 1 0 0%; }

.odd-even-wrap .even-block { width: 45%; }

.odd-even-wrap .even-block.even-block-banner-img { background-repeat: no-repeat; background-position: top left; background-size: cover; min-height: 630px; height: 100%; }

.odd-even-wrap .even-block.even-block-banner-img .even-block-content { padding: 0px 60px; max-width: 685px; width: 100%; height: 100%; }

.odd-even-wrap .odd-block { width: 55%; padding: 0px 100px; }

.odd-even-wrap .odd-block .odd-left { max-width: 535px; width: 100%; float: right; }

.even-odd-wrap { display: flex; flex: 1 0 0%; }

.even-odd-wrap .odd-block { width: 45%; }

.even-odd-wrap .odd-block.odd-block-banner-img { background-repeat: no-repeat; background-position: top right; background-size: cover; min-height: 630px; height: 100%; }

.even-odd-wrap .odd-block.odd-block-banner-img .odd-block-content { padding: 0px 60px; max-width: 685px; width: 100%; height: 100%; }

.even-odd-wrap .even-block { width: 55%; padding: 0px 100px; }

.even-odd-wrap .even-block .even-right { max-width: 545px; width: 100%; float: left; }

.post-content-list { padding: 0 0 40px 0px; }

.post-content-list .post-content-img { background-repeat: no-repeat; background-position: center center; background-size: cover; min-height: 260px; height: 100%; margin-bottom: 30px; }

.post-content-list .post-content-img.large { min-height: 680px; }

.post-content-list .post-content-title { margin-bottom: 0.75rem; }

.post-content-list .post-content-title a { font-weight: 500; font-style: normal; font-size: 20px; line-height: 25px; color: #17191d; }

.post-content-list .post-content-text { margin-bottom: 20px; }

.customer-exp-chat .post-content-list .post-content-title a { font-size: 28px; line-height: 30px; }

.check-list ul li { font-family: 'Open Sans', sans-serif; }

.title-desc.has-h3 h3 { color: #233659; }

@media (max-width: 1024px) { .odd-even-wrap .odd-block { padding: 0px 50px; }
  .even-odd-wrap .even-block { padding: 0px 50px; } }

@media (max-width: 992px) { .sub-banner-wrap { padding-bottom: 60px; }
  .solutions-category-video { margin-top: 60px; }
  .odd-even-wrap { display: block; }
  .odd-even-wrap .even-block { width: 100%; }
  .odd-even-wrap .even-block .even-block-content { max-width: 100%; }
  .odd-even-wrap .even-block.even-block-banner-img { min-height: 450px; }
  .odd-even-wrap .odd-block { width: 100%; padding: 60px 50px; }
  .odd-even-wrap .odd-block .odd-left { max-width: 100%; float: none; }
  .even-odd-wrap { display: block; }
  .even-odd-wrap .odd-block { width: 100%; }
  .even-odd-wrap .odd-block .odd-block-content { max-width: 100%; }
  .even-odd-wrap .odd-block.odd-block-banner-img { min-height: 450px; }
  .even-odd-wrap .even-block { width: 100%; padding: 60px 50px; }
  .even-odd-wrap .even-block .even-right { max-width: 100%; float: none; } }

@media (max-width: 768px) { .odd-even-wrap .odd-block { padding: 60px 40px; }
  .even-odd-wrap .even-block { padding: 60px 40px; } }

@media (max-width: 767px) { .post-block .card-deck { display: flex; flex-direction: column; }
  .banner-wrap { min-height: 300px; }
  .ct-video figure { min-height: 300px; }
  .post-content-list .post-content-img.large { min-height: 260px; }
  .customer-exp-chat .post-content-list .post-content-title a { font-size: 24px; line-height: 26px; } }

@media (max-width: 576px) { .odd-even-wrap .odd-block { padding: 60px 15px; }
  .even-odd-wrap .even-block { padding: 60px 15px; }
  .ct-video { min-height: 300px; } }

/*IE Only CSS */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .post-block .card-deck .card .card-footer .post-clock { display: block !important; } }

@keyframes bubble-ripple { 0% {
    transform: scale(1.4);
    opacity: .55;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; }
  25% {
    transform: scale(1.4);
    opacity: 0.55;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; }
  100% {
    transform: scale(1.8);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; } }
/*# sourceMappingURL=solutions-category-landing-page.css.map */