<!-- <div class="backto-original-website oxford-blue-bg">
    <a href="#"><i><img src="assets/images/icons/streamline-icon-information-circle@140x140.svg"></i><span>Switch back to the original website</span></a>
</div> -->
<div class="oxford-blue-bg section-py">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="footer-top">
                    <div class="footer-logo mb-5 mb-sm-0">
                        <a href="index.html">
                            <img src="assets/images/Clickatell-Logo-white-text.svg" alt="Clickatell">
                        </a>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-list">
                                <div class="footer-list-title text-white mb-3">
                                    <h6>Company</h6>
                                </div>
                                <ul>
                                    <li><a href="aboutus.html">About Clickatell</a></li>
                                    <li><a href="careers-listing-page.html">Careers</a></li>
                                    <li><a href="press-and-media-landingpage.html">Press & Media</a></li>
                                    <li><a href="javascript:void(0);">Partner Program</a></li>
                                    <li><a href="javascript:void(0);">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-list">
                                <div class="footer-list-title text-white mb-3">
                                    <h6>Solutions</h6>
                                </div>
                                <ul>
                                    <li><a href="solutions-template-chat-banking-page.html">Chat Banking</a></li>
                                    <li><a href="solutions-template-chat-commerce-page-usecase.html">Chat Commerce</a></li>
                                    <li><a href="solutions-template-chat-selfservice-page.html">Chat Self-Serve</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-list">
                                <div class="footer-list-title text-white mb-3">
                                    <h6>Platform and Products</h6>
                                </div>
                                <ul>
                                    <li><a href="general-content-template-certification.html">Certifications</a></li>
                                    <li><a href="general-content-template-infrastructure.html">Infrastructure</a></li>
                                    <li><a href="javascript:void(0);">Terms and Conditions</a></li>
                                    <li><a href="legal-page.html">Legal</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-list">
                                <div class="footer-list-title text-white mb-3">
                                    <h6>Resources & Help</h6>
                                </div>
                                <ul>
                                    <li><a href="javascript:void(0);">Developer Tools</a></li>
                                    <li><a href="faq-landingpage.html">FAQ/ Help Pages</a></li>
                                    <li><a href="javascript:void(0);">Tutorials</a></li>
                                    <li><a href="resource-template-white-paper-ebook.html">White Papers</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="social-media text-lg-right text-md-left">
                    <ul>
                        <li>
                            <a href="javascript:void(0);"><img src="assets/images/icons/facebook-f-brands.svg" alt="Facebook"> </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="assets/images/icons/twitter-brands.svg" alt="Twitter"> </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="assets/images/icons/linkedin-in-brands.svg" alt="Linkedin"> </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="assets/images/icons/youtube-in-brands.svg" alt="You Tube"> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="d-md-flex">
                <div class="text-white">© Copyright 2019 Clickatell. All rights reserved.</div>
                <div class=""><a href="javascript:void(0);" class="white-link">Privacy Policy</a></div>
                <div class=""><a href="javascript:void(0);" class="white-link">Cookie Policy</a></div>
            </div>
        </div>
    </div>
</div>