<div class="oxford-blue-bg section-py">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="footer-logo mb-5">
                    <a href="index.html">
                        <img src="assets/images/Clickatell-Logo-white-text.svg" alt="Clickatell">
                    </a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="footer-bottom">
                    <div class="row">
                        <div class="col-lg-5 col-md-8 col-12">
                            <div class="row">
                                <div class="col-md-6 col-6">
                                    <div class="footer-list">
                                        <div class="footer-list-title text-white">
                                            <h6>Company</h6>
                                        </div>
                                        <ul class="pt-3">
                                            <li><a href="aboutus.html">About Clickatell</a></li>
                                            <li><a href="careers-listing-page.html">Careers</a></li>
                                            <li><a href="press-and-media-landingpage.html">Press & Media</a></li>
                                            <li><a href="javascript:void(0);">Contact</a></li>
                                            <li><a href="javascript:void(0);">Partnership Program</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 col-6">
                                    <div class="footer-list">
                                        <div class="footer-list-title text-white">
                                            <h6>Platform</h6>
                                        </div>
                                        <ul class="pt-3">
                                            <li><a href="our-platforms-category-landing-page-connect.html">Connect</a></li>
                                            <li><a href="our-platforms-category-landing-page-touch.html">Touch </a></li>
                                            <li><a href="products-category-landingpage-transact.html">Transact</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-12">
                            <div class="row">
                                <div class="col-md-4 col-6">
                                    <div class="footer-list">
                                        <div class="footer-list-title text-white">
                                            <h6>Solutions</h6>
                                        </div>
                                        <ul class="pt-3">
                                            <li><a href="our-solutions-category-landing-page-chat-economy.html">Chat Economy</a></li>
                                            <li><a href="solutions-template-chat-commerce-page-usecase.html">Chat Commerce</a></li>
                                            <li><a href="solutions-template-chat-selfservice-page.html">Chat Self-Serve</a></li>
                                            <li><a href="solutions-template-chat-banking-page.html">Chat Banking</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4 col-6">
                                    <div class="footer-list">
                                        <div class="footer-list-title text-white">
                                            <h6>Other Products</h6>
                                        </div>
                                        <ul class="pt-3">
                                            <li><a href="javascript:void(0);">SMS Products</a></li>
                                            <li><a href="products-sub-category-template-sms-long-numbers.html">Long Numbers</a></li>
                                            <li><a href="products-sub-category-template-sms-short-codes.html">Short Codes</a></li>
                                            <li><a href="products-template-page-sms-api.html">SMS Api</a></li>
                                            <li><a href="sms-gateway.html">SMS Gateway</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="footer-list">
                                        <div class="footer-list-title text-white">
                                            <h6>Resources & Help</h6>
                                        </div>
                                        <ul class="pt-3">
                                            <li><a href="resources-rebuild.html">Library</a></li>
                                            <li><a href="article-category-page.html">Articles</a></li>
                                            <li><a href="blog-rebuild.html">Blog</a></li>
                                            <li><a href="faq-landingpage.html">Help Center</a></li>
                                            <li><a href="https://docs.clickatell.com/">Developer Documentation</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ml-md-auto order-md-12">
                <div class="social-media text-md-right text-left">
                    <ul>
                        <li>
                            <a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);""><i class="fab fa-linkedin-in"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><i class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="social-media-icon text-md-right text-left">
                    <ul>
                        <li>
                            <a href="javascript:void(0);"><i class="facebook-brands-w"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><i class="twitter-brands-w"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);""><i class="linkedin-brands-w"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><i class="youtube-play-brands-w"></i></a>
                        </li>
                    </ul>
                </div> -->
            </div>
            <div class="col-md-6 order-md-1">
                <div class="row">
                    <div class="col-md-6">
                        <div class="copyright">
                            <div class="text-white">© Copyright 2021 Clickatell. All rights reserved.</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="copyright">
                            <div class=""><a href="javascript:void(0);" class="white-link">Legal</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <script>
    $(document).ready(function($) {

        var bigbrother;
        var winwidth = $(window).innerWidth(992);

        $('.footer-list-title').each(function() {
            bigbrother = bigbrother > $(this).height() ? bigbrother : $(this).height();
        });

        $('.footer-list-title').each(function() {
            $(this).height(bigbrother);
 
            $(window).on("load",function(){
                if(winwidth > 992){
                    $('.footer-list-title').height(auto);
                }
            });
        });
    });

</script> -->