<div class="topbar">
    <section class="topbar-blue oxford-blue-bg">
        <div class="container-fluid">
            <div class="d-flex align-items-center">
                <div class="ml-auto">
                    <a href="javascript:void(0);" class="white-link">Contact Support</a><a href="javascript:void(0);" class="white-link">Log in </a>
                </div>
            </div>
        </div>
    </section>
</div>
<nav class="navbar navbar-expand-lg bg-white">
    <a class="navbar-brand" href="index.html">
        <img src="assets/images/Clickatell-Logo-Dark.svg" alt="Clickatell">
    </a>
    <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div id="navbarContent" class="collapse navbar-collapse">
        <div class="menu-right d-flex align-items-center order-md-12">
            <div class="header-search ml-xl-3 ml-lg-2">
                <a href="javascript:void(0);" class="search-form-tigger" data-toggle="search-form"><img src="assets/images/icons/streamline-icon-search-alternate@24x24.svg" alt="Search"></a>
            </div>
            <div class="nav-contactus-btn ml-3"><a href="javascript:void(0);" class="btn btn-primary-outline">Get in touch</a></div>
            <div class="ml-3"><a href="javascript:void(0);" class="btn btn-secondary">Register</a></div>
        </div>
        <ul class="navbar-nav m-auto order-md-1">
            <!-- Megamenu-->
            <li class="nav-item dropdown mega-dropdown">
                <a href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle arrow-down">Platforms</a>
                <div class="dropdown-menu mega-dropdown-menu">
                    <div class="container px-0 px-lg-3">
                        <div class="bg-white megamenu-container shadow-sm">
                            <div class="row no-gutters">
                                <div class="col-lg-3 iron-light-bg rounded-left">
                                    <div class="p-4">
                                        <div class="title1 mb-2">
                                            <h5>Our Platforms</h5>
                                        </div>
                                        <div class="title1-desc">
                                            <p>Commerce will never be the same. Connect, Interact and Transact with customers in your favorite chat app!</p>
                                        </div>
                                        <a href="./signup-form(unityhubspot)-validation1.html" class="btn btn-primary smaller">Create free account</a>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="py-4 px-3">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="ct-blue-title mb-2">
                                                    <h6>Connect</h6>
                                                </div>
                                                <div class="ct-blue-title-desc">
                                                    <div class="smaller-list-block">
                                                        <ul>
                                                            <li>
                                                                <a href="./products-template-page-sms-api.html">SMS</a>
                                                                <p>Integrate SMS messaging with your business applications</p>
                                                            </li>
                                                            <li>
                                                                <a href="./products-template-page-whatsapp-usecase1.html">WhatsApp</a>
                                                                <p>Engage customers on the world’s most popular chat channel</p>
                                                            </li>
                                                            <li>
                                                                <a href="./products-template-page-campaign-manager.html">Campaign Manager</a>
                                                                <p>Application to create, run, and manage SMS campaigns</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="ct-blue-title mb-2">
                                                    <h6>Interact</h6>
                                                </div>
                                                <div class="ct-blue-title-desc">
                                                    <div class="smaller-list-block mb-2">
                                                        <ul>
                                                            <li>
                                                                <a href="./products-template-page-flow.html">Chat Flow</a>
                                                                <p>Visual workflow builder to automate self-service experiences</p>
                                                            </li>
                                                            <li>
                                                                <a href="./products-template-page-chat-desk.html">Chat Desk</a>
                                                                <p>Run and manage live agent support on multiple chat channels</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="ct-blue-title mb-2">
                                                    <h6>Transact</h6>
                                                </div>
                                                <div class="ct-blue-title-desc">
                                                    <div class="smaller-list-block mb-2">
                                                        <ul>
                                                            <li>
                                                                <a href="./products-category-landingpage-transact.html">Transact</a>
                                                                <p>A complete digital distribution and payments acceptance platform built for growth</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="p-4">
                                        <div class="ct-blue-title mb-2">
                                            <h6>Read more</h6>
                                        </div>
                                        <div class="smaller-list-block mb-2">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">Developer Tools</a>
                                                </li>
                                                <li>
                                                    <a href="./pricing-estimator.html">SMS pricing</a>
                                                </li>
                                                <li>
                                                    <a href="./promo-landing-page.html">SMS promotions</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown mega-dropdown">
                <a href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle arrow-down">Solutions</a>
                <div class="dropdown-menu mega-dropdown-menu">
                    <div class="container px-0 px-lg-3">
                        <div class="bg-white megamenu-container shadow-sm">
                            <div class="row no-gutters">
                                <div class="col-lg-3 iron-light-bg rounded-left">
                                    <div class="p-4">
                                        <div class="title1 mb-2">
                                            <h5>Our Solutions</h5>
                                        </div>
                                        <div class="title1-desc">
                                            <p>Commerce will never be the same. Connect, Interact and Transact with customers in your favorite chat app!</p>
                                        </div>
                                        <a href="javascript:void(0);" class="btn btn-primary smaller">Talk to an expert</a>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="px-3">
                                        <div class="row">
                                            <div class="col-lg-4 py-4">
                                                <div class="ct-blue-title mb-2">
                                                    <h6 class="h6 f-medium clickatell-blue-text">Chat Economy</h6>
                                                </div>
                                                <div class="ct-blue-title-desc">
                                                    <div class="smaller-list-block mb-2">
                                                        <ul>
                                                            <li>
                                                                <a href="./solutions-template-chat-banking-page.html">Chat Banking</a>
                                                                <p>Offer frequently used retail banking services within chat</p>
                                                            </li>
                                                            <li>
                                                                <a href="./solutions-template-chat-selfservice-page.html">Chat Self Service</a>
                                                                <p>Deploy engaging self-service experiences in chat</p>
                                                            </li>
                                                            <li>
                                                                <a href="./solutions-template-chat-commerce-page-usecase.html">Chat Commerce</a>
                                                                <p>Revolutionize commerce with in-channel purchases from within chat</small>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 iron-light-bg px-0">
                                                <div class="iron-light-bg dropmenu-grey-block">
                                                    <div class="row no-gutters h-100">
                                                        <div class="col-md-6 p-4">
                                                            <div class="ct-oxford-blue-title mb-2">
                                                                <p>Our Solutions</p>
                                                            </div>
                                                            <div class="body4 oxford-blue-hyperlink">
                                                                <p>Future-proof your business with the digital transformation business guide e-Book</p>
                                                                <a href="javascript:void(0);">Read Report</a>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 megamenu-resource-img d-none d-lg-block align-self-stretch rounded-right" style="background-image: url(assets/images/ladysend-msg.jpg);">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 rounded-right">
                                    <div class="p-4">
                                        <div class="ct-blue-title mb-2">
                                            <h6>Latest</h6>
                                        </div>
                                        <div class="smaller-list-block mb-2">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">Chat Commerce articles</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown mega-dropdown">
                <a href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle arrow-down">About us</a>
                <div class="dropdown-menu mega-dropdown-menu">
                    <div class="container px-0 px-lg-3">
                        <div class="bg-white megamenu-container shadow-sm">
                            <div class="row no-gutters">
                                <div class="col-lg-3 iron-light-bg rounded-left">
                                    <div class="p-4">
                                        <div class="title1 mb-2">
                                            <h5>About Us</h5>
                                        </div>
                                        <div class="title1-desc">
                                            <p>We help customer-obsessed businesses create customer experiences through chat platforms.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9 rounded-right">
                                    <div class="row no-gutters">
                                        <div class="col-lg-6">
                                            <div class="py-4 px-3">
                                                <div class="ct-blue-title mb-2">
                                                    <h6 class="h6 f-medium clickatell-blue-text">Learn about Clickatell</h6>
                                                </div>
                                                <div class="ct-blue-title-desc">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="smaller-list-block mb-2">
                                                                <ul>
                                                                    <li>
                                                                        <a href="javascript:void(0);">Our story</a>
                                                                        <p>Discover who we are</p>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:void(0);">Press and Media</a>
                                                                        <p>See our latest news and resources</p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="smaller-list-block mb-2">
                                                                <ul>
                                                                    <li>
                                                                        <a href="javascript:void(0);">Partnership Program</a>
                                                                        <p>Become a Partner</p>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:void(0);">Careers</a>
                                                                        <p>Join our team</p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 rounded-right">
                                            <div class="iron-light-bg dropmenu-grey-block">
                                                <div class="row no-gutters h-100">
                                                    <div class="col-md-6">
                                                        <div class="p-4">
                                                            <div class="ct-oxford-blue-title mb-2">
                                                                <p>
                                                                    ABOUT US
                                                                </p>
                                                            </div>
                                                            <div class="body4 oxford-blue-hyperlink">
                                                                <p>Clickatell is bringing businesses and their customers closer together</p>
                                                                <a href="javascript:void(0);">Watch video</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 megamenu-resource-img d-none d-lg-block align-self-stretch rounded-right" style="background-image: url(assets/images/reqruiter.jpg);">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link">Blog</a>
            </li>
            <li class="nav-item dropdown mega-dropdown">
                <a href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle arrow-down">Resources</a>
                <div class="dropdown-menu mega-dropdown-menu">
                    <div class="container px-0 px-lg-3">
                        <div class="bg-white megamenu-container shadow-sm">
                            <div class="row no-gutters">
                                <div class="col-lg-3 iron-light-bg rounded-left">
                                    <div class="p-4">
                                        <div class="title1 mb-2">
                                            <h5 class="h5 f-regular oxford-blue-text">Resources</h5>
                                        </div>
                                        <div class="title1-desc">
                                            <p>Learn about how Clickatell solutions make communications, interactions, and commerce simple and seamless with chat technologies</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9 rounded-right">
                                    <div class="row no-gutters h-100">
                                        <div class="col-lg-6">
                                            <div class="py-4 px-3">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="ct-blue-title mb-2">
                                                            <h6>Explore</h6>
                                                        </div>
                                                        <div class="smaller-list-block mb-2">
                                                            <ul>
                                                                <li>
                                                                    <a href="javascript:void(0);">Resource Center</a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:void(0);">Help Center</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="ct-blue-title mb-2">
                                                            <h6>Development center</h6>
                                                        </div>
                                                        <div class="smaller-list-block mb-2">
                                                            <ul>
                                                                <li>
                                                                    <a href="javascript:void(0);">Developer docs</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 megamenu-resource-img d-none d-lg-block align-self-stretch rounded-right">
                                            <a href="javascript:void(0);">
                                                <img src="assets/images/Resource_Nav.jpg" class="img-full h-100 rounded-right" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="mobile-menu-wrap">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between">
            <a class="navbar-brand" href="index.html">
                <img src="assets/images/Clickatell-Logo-Dark.svg" alt="Clickatell">
            </a>
            <div class="menu-control-right">
                <a href="../signup-form.html" class="btn btn-secondary" target="">Register</a>
                <button type="button" class="btn mobile-menu-open slide-menu-control navbar-toggler" data-target="test-menu-left" data-action="open"><img src="assets/images/icons/streamline-icon-navigation-menu@40x40.svg"><!--<span class="navbar-toggler-icon"></span>--></button>
            </div>
        </div>
    </div>
</div>

<nav class="slide-menu" id="test-menu-left">

    <div class="controls d-flex align-items-center justify-content-between">
        <div class="slide-menu-back">
            <a href="index.html" class="menu-logo"><img src="assets/images/Clickatell-Logo-Dark.svg" alt="Clickatell"></a>
            <a href="#" class="back-to-menu"></a>
        </div>
        <button type="button" class="btn slide-menu-control mobile-menu-close" data-action="close"></button>
        <!-- <button type="button" class="btn slide-menu-control" data-action="back">Back</button> -->
    </div>
    <ul>
        <li>
            <a href="#">Platforms</a>
            <ul>
                <li class="submenu-list">
                    <div class="ct-blue-title">
                        <h6><a href="#">Connect</a></h6>
                    </div>
                    <div class="ct-blue-title-desc">
                        <div class="smaller-list-block">
                            <ul>
                                <li>
                                    <a href="./products-template-page-sms-api.html">SMS</a>
                                </li>
                                <li>
                                    <a href="./products-template-page-whatsapp.html">WhatsApp</a>
                                </li>
                                <li>
                                    <a href="./products-template-page-campaign-manager.html">Campaign Manager</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="submenu-list">
                    <div class="ct-blue-title">
                        <h6><a href="#">Interact</a></h6>
                    </div>
                    <div class="ct-blue-title-desc">
                        <div class="smaller-list-block">
                            <ul>
                                <li>
                                    <a href="#">Chat Flow</a>
                                </li>
                                <li>
                                    <a href="#">Chat Desk</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="submenu-list">
                    <div class="ct-blue-title">
                        <h6><a href="#">Transact</a></h6>
                    </div>
                    <div class="ct-blue-title-desc">
                        <div class="smaller-list-block">
                            <ul>
                                <li>
                                    <a href="#">Transact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="submenu-list">
                    <div class="ct-blue-title">
                        <h6>Read more</h6>
                    </div>
                    <div class="ct-blue-title-desc">
                        <div class="smaller-list-block">
                            <ul>
                                <li>
                                    <a href="#">SMS Pricing</a>
                                </li>
                                <li>
                                    <a href="#">SMS Promotions</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li><a href="#">Solutions</a>
            <ul>
                <li class="submenu-list">
                    <div class="ct-blue-title">
                        <h6><a href="#">Chat Economy</a></h6>
                    </div>
                    <div class="ct-blue-title-desc">
                        <div class="smaller-list-block">
                            <ul>
                                <li>
                                    <a href="#">Chat Banking</a>
                                </li>
                                <li>
                                    <a href="#">Chat Self Service</a>
                                </li>
                                <li>
                                    <a href="#">Chat Commerce</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="submenu-list">
                    <div class="ct-blue-title">
                        <h6>Latest</h6>
                    </div>
                    <div class="ct-blue-title-desc">
                        <div class="smaller-list-block">
                            <ul>
                                <li>
                                    <a href="#">Chat Commerce articles</a>
                                </li>
                                <li>
                                    <a href="#">Downloads</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li><a href="#">About us</a>
            <ul>
                <li class="submenu-list">
                    <div class="ct-blue-title">
                        <h6>Learn about Clickatell</h6>
                    </div>
                    <div class="ct-blue-title-desc">
                        <div class="smaller-list-block">
                            <ul>
                                <li>
                                    <a href="#">Our story</a>
                                </li>
                                <li>
                                    <a href="#">Press and Media</a>
                                </li>
                                <li>
                                    <a href="#">Careers</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li><a href="javascript:void(0);">Blog</a></li>
        <li><a href="#">Resources</a>
            <ul>
                <li class="submenu-list">
                    <div class="ct-blue-title">
                        <h6>Explore</h6>
                    </div>
                    <div class="ct-blue-title-desc">
                        <div class="smaller-list-block">
                            <ul>
                                <li>
                                    <a href="#">Resource Center</a>
                                </li>
                                <li>
                                    <a href="#">Help Center</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="submenu-list">
                    <div class="ct-blue-title">
                        <h6>Development center</h6>
                    </div>
                    <div class="ct-blue-title-desc">
                        <div class="smaller-list-block">
                            <ul>
                                <li>
                                    <a href="#">Developer docs</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div class="mobile-menu-contact">
                <div class="oxford-blue-hyperlink"><a href="#">Login</a></div>
                <div class="my-3"><a href="javascript:void(0);" class="btn btn-secondary full">Register</a></div>
                <div><a href="javascript:void(0);" class="btn btn-primary-outline full">Get in touch</a></div>
            </div>
        </li>
    </ul>
</nav>

<section class="container d-none d-lg-block">
    <div class="search-form-wrapper">
        <form class="search-form" id="" action="">
            <div class="search-form-input-wrap">
                <span class="input-group-addon search-icon" id="basic-addon2">
                </span>
                <input type="text" name="search" class="search form-control" placeholder="Filtered Search">
                <span class="input-group-addon search-close search-window-close" id="basic-addon2"></span>
            </div>
        </form>
    </div>
</section>

<script src="assets/js/header.js"></script>
<script src="assets/js/slide-menu.js"></script>
<script defer>
    (function($) {
        $(document).ready(function() {

            var menuLeft = $('#test-menu-left').slideMenu({
                position: 'left',
                submenuLinkAfter: '<span class="submenuLinkAfter"></span>',
                backLinkBefore: '<span class="backLinkBefore"></span>'
            });

            var menuRight = $('#test-menu-right').slideMenu({
                submenuLinkAfter: ' ⇒',
                backLinkBefore: '⇐ '
            });

            if ($(window).width() > 992) {
                menuRight.open(false);
            }

        });
    })(jQuery);
</script>